@model LayoutViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Issues"]);
    AddTitleSegment(T["Categories"]);
    AddTitleSegment(T["Edit Category"]);
}

<form asp-action="Edit" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>