@model ContactFormViewModel
@{
    AddTitleSegment(T["License Agreement"]);
}

<div style="background: url(/plato.site/content/images/bg10.png) top right no-repeat;">
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                       License Agreement
                    </h1>
                    <h2 class="font-weight-light">
                        The end user license agreement for Plato.
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a name="community-support"></a>
                    <div class="w-100 p-4 bg-white border box-shadow">
                        <strong>Updated: March 20th 2020</strong>
                        <hr />                        
                        <p>
                            BY DOWNLOADING AND/OR USING PLATO (the "PRODUCT"), THE INDIVIDUAL OR ENTITY LICENSING THE PRODUCT ("LICENSEE") IS CONSENTING TO BE BOUND BY AND IS BECOMING A PARTY TO THIS LEGAL AGREEMENT. IF LICENSEE DOES NOT AGREE TO ALL OF THE TERMS OF THIS AGREEMENT, THE LICENSEE MUST NOT INSTALL OR USE THE PRODUCT DEVELOPED BY INSTANTASP LIMITED.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">1. LICENSE AGREEMENT.</h5>
                        <p>
                            In this Agreement "Licensor" shall mean InstantASP Limited except under the following circumstances: (i) if Licensee acquired the Product as a bundled component of a third party product or service, then such third party shall be Licensor; and (ii) if any third party software is included as part of the default installation and no License is presented for acceptance the first time that third party software is invoked, then the use of that third party software shall be governed by this Agreement, but the term "Licensor," with respect to such third party software, shall mean the manufacturer of that software and not InstantASP Limited. With the exception of the situation described in (ii) above, the use of any included third party software product shall be governed by the third party's License agreement and not by this Agreement, whether that License agreement is presented for acceptance the first time that the third party software is invoked, is included in a file in electronic form, or is included in the package in printed form. If more than one License agreement was provided for the Product, and the terms vary, the order of precedence of those License agreements is as follows: a signed agreement, a License agreement available for review on the InstantASP website, a printed or electronic agreement that states clearly that it supersedes other agreements, a printed agreement provided with the Product, an electronic agreement provided with the Product.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">2. LICENSE GRANT.</h5>
                        <p>
                            Licensor grants Licensee a non-exclusive, non-transferable to use Product for personal or business purposes either the source code version of the product or the compiled assembly version, any copy must contain all of the original proprietary notices. This License does not entitle Licensee to receive from InstantASP Limited hard-copy documentation, technical support, telephone assistance, or enhancements or updates to the Product unless a specific Product has been purchased by the Licensee that clearly states otherwise. If Product contains 3rd party redistributable files you are strictly forbidden to use 3rd party assemblies outside of Product unless stated within 3rd parties licensing agreement. To use any commercial 3rd party files outside of Product you must purchase the correct license from the vendor. Components from Telerik are strictly for use within the Product and you are prohibited from duplicating or using these components outside of the Product.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">3. RESTRICTIONS.</h5>
                        <p>
                            Except as otherwise expressly permitted in this Agreement, or in another Licensor agreement to which Licensee is a party such as a distribution agreement, Licensee may not: (i) decompile, disassemble, reverse engineer, or otherwise attempt to derive the source code for the Product (except to the extent applicable laws specifically prohibit such restriction or source code is already available); (ii) redistribute, encumber, sell, rent, lease, sublicense, or otherwise transfer rights to the Product or Product source code; or (iii) publish any results of benchmark tests run on the Product to a third party without Licensor's prior written consent.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">4. TERMINATION.</h5>
                        <p>
                            Without prejudice to any other rights, Licensor may terminate this Agreement if Licensee breaches any of its terms and conditions. Upon termination, Licensee shall destroy all copies of the Product.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">5. PROPRIETARY RIGHTS.</h5>
                        <p>
                            Title, ownership rights, and intellectual property rights in the Product shall remain with InstantASP Limited. Licensee acknowledges such ownership and intellectual property rights and will not take any action to jeopardize, limit or interfere in any manner with InstantASP Limited ownership of or rights with respect to the Product. The Product is protected by copyright and other intellectual property laws and by international treaties. Title and related rights in the content accessed through the Product is the property of the applicable content owner and is protected by applicable law. The License granted under this Agreement gives Licensee no rights to such content.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">6. DISCLAIMER OF WARRANTY.</h5>
                        <p>
                            THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PRODUCT IS BORNE BY LICENSEE. SHOULD THE PRODUCT PROVE DEFECTIVE IN ANY RESPECT, LICENSEE AND NOT LICENSOR OR ITS SUPPLIERS OR RESELLERS ASSUMES THE ENTIRE COST OF ANY SERVICE AND REPAIR. THIS DISCLAIMER OF WARRANTY CONSTITUTES AN ESSENTIAL PART OF THIS AGREEMENT. NO USE OF THE PRODUCT IS AUTHORIZED HEREUNDER EXCEPT UNDER THIS DISCLAIMER.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">7. LIMITATION OF LIABILITY.</h5>
                        <p>
                            TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL LICENSOR OR ITS SUPPLIERS OR RESELLERS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OF OR INABILITY TO USE THE PRODUCT, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, OR ANY AND ALL OTHER COMMERCIAL DAMAGES OR LOSSES, EVEN IF ADVISED OF THE POSSIBILITY THEREOF, AND REGARDLESS OF THE LEGAL OR EQUITABLE THEORY (CONTRACT, TORT OR OTHERWISE) UPON WHICH THE CLAIM IS BASED. IN ANY CASE, LICENSOR'S ENTIRE LIABILITY UNDER ANY PROVISION OF THIS AGREEMENT SHALL NOT EXCEED IN THE AGGREGATE THE SUM OF THE FEES LICENSEE PAID FOR THIS LICENSE (IF ANY) AND FEES FOR SUPPORT OF THE PRODUCT RECEIVED BY INSTANTASP LIMITED UNDER A SEPARATE SUPPORT AGREEMENT (IF ANY), WITH THE EXCEPTION OF DEATH OR PERSONAL INJURY CAUSED BY THE NEGLIGENCE OF LICENSOR TO THE EXTENT APPLICABLE LAW PROHIBITS THE LIMITATION OF DAMAGES IN SUCH CASES. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THIS EXCLUSION AND LIMITATION MAY NOT BE APPLICABLE. INSTANTASP LIMITED IS NOT RESPONSIBLE FOR ANY LIABILITY ARISING OUT OF CONTENT PROVIDED BY LICENSEE OR A THIRD PARTY THAT IS ACCESSED THROUGH THE PRODUCT AND/OR ANY MATERIAL LINKED THROUGH SUCH CONTENT.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">8. HIGH RISK ACTIVITIES.</h5>
                        <p>
                            The Product is not fault-tolerant and is not designed, manufactured or intended for use or resale as on-line control equipment in hazardous environments requiring fail-safe performance, such as in the operation of nuclear facilities, aircraft navigation or communication systems, air traffic control, direct life support machines, or weapons systems, in which the failure of the Product could lead directly to death, personal injury, or severe physical or environmental damage ("High Risk Activities"). Accordingly, Licensor and its suppliers specifically disclaim any express or implied warranty of fitness for High Risk Activities. Licensee agrees that Licensor and its suppliers will not be liable for any claims or damages arising from the use of the Product in such applications.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">9. MISCELLANEOUS.</h5>
                        <p>
                            (a) This Agreement constitutes the entire agreement between the parties concerning the subject matter hereof.(b) This Agreement may be amended only by a writing signed by both parties. (f) If any provision in this Agreement should be held illegal or unenforceable by a court having jurisdiction, such provision shall be modified to the extent necessary to render it enforceable without losing its intent, or severed from this Agreement if no such modification is possible, and other provisions of this Agreement shall remain in full force and effect. (g) The controlling language of this Agreement is English. If Licensee has received a translation into another language, it has been provided for Licensee's convenience only. (h) A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, shall not waive such term or condition or any subsequent breach thereof. (i) The provisions of this Agreement which require or contemplate performance after the expiration or termination of this Agreement shall be enforceable notwithstanding said expiration or termination. (j) Licensee may not assign or otherwise transfer by operation of law or otherwise this Agreement or any rights or obligations herein except in the case of a merger or the sale of all or substantially all of Licensee's assets to another entity. (k) This Agreement shall be binding upon and shall inure to the benefit of the parties, their successors and permitted assigns. (l) Neither party shall be in default or be liable for any delay, failure in performance (excepting the obligation to pay) or interruption of service resulting directly or indirectly from any cause beyond its reasonable control. (m) The relationship between Licensor and Licensee is that of independent contractors and neither Licensee nor its agents shall have any authority to bind Licensor in any way. (n) If any dispute arises under this Agreement, the prevailing party shall be reimbursed by the other party for any and all legal fees and costs associated therewith. (o) If any InstantASP Limited professional services are being provided, then such professional services are provided pursuant to the terms of a separate Professional Services Agreement between InstantASP Limited and Licensee. The parties acknowledge that such services are acquired independently of the Product licensed hereunder, and that provision of such services is not essential to the functionality of such Product. (p) The headings to the sections of this Agreement are used for convenience only and shall have no substantive meaning. (q) Licensor may use Licensee’s name in any customer reference list or in any press release issued by Licensor regarding the licensing of the Product and/or provide Licensee’s name and the names of the Product licensed by Licensee to third parties.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">10. GOVERNING LAW.</h5>
                        <p>
                            This agreement shall be construed and the legal relation between the parties determined in accordance British Law.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>