@model ContactFormViewModel
@{
    AddTitleSegment(T["Privacy Policy"]);
}

<div style="background: url(/plato.site/content/images/bg10.png) top right no-repeat;">
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                        Commercial License
                    </h1>
                    <h2 class="font-weight-light">
                        Plato backed by priority support for a single commerical project
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a name="community-support"></a>
                    <div class="w-100 p-4 bg-white border box-shadow">

                        <strong>Updated: Merch 20th 2020</strong>
                        <hr />
                        <h5 class="text-primary font-weight-bold text-uppercase">No limits!</h5>
                        <p>
                            We don't restrict you on the amount of data, the number of users or the amount of traffic or page views you receive.
                            Our licensing is simply linked to the single URL or server name for your installation.
                            Once installed you can use our products with no restrictions or limits.<br />
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">Self Hosted</h5>
                        <p>
                            As a commercial license holder, you will host Plato on your own hosting infrastructure giving you greater control and increased flexibility. The Plato team will assist with your initial installation or whenever necessary as part of our standard technical support provided with all paid licenses.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">No hidden costs</h5>
                        <p>
                            The price you see on our order page is the price you pay. Minor upgrades are always provided free of charge. We ask a small fee for major updates however there is plenty of notice in advance before major updates and it's completely up to you if the new features are compelling enough to purchase a major upgrade.<br />
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">Optional Revewal</h5>
                        <p>
                            After the first year if you wish to continue receiving updates, we offer an optional annual subscription service. We will contact you after you’ve owned your license for a year to see if you wish to renew. There is no obligation to renew however you will need to purchase our annual subscription should you wish to upgrade your installation of Plato in the future.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">Business Vs Enterprise License</h5>
                        <p>
                            The only difference between our Business & Enterprise Licenses is the <a asp-route-area="Plato.Site" asp-route-controller="Support" asp-route-action="Index">level of initial support</a> you will receive from InstantASP. Both licenses offer the same software functionality & level of access to the Plato source code however with our enterprise license we will work with you to assist with branding & integration.
                        </p>
                        <h5 class="text-primary font-weight-bold text-uppercase">License Grant</h5>
                        <p>
                            A Plato commercial allows businesses to use a single installation of Plato on a single production URL with guaranteed technical support as and when needed from the Plato team. Development and staging installations of Plato are allowed at no extra cost for commercial license holders.
                        </p>


                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<!-- Call to action -->
<cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteCallToAction", new
    {
        sticky = false
    }))
</cache>
