@model EntityViewModel<Question, Answer>

<a href="#" class="btn btn-lg btn-secondary resizable-close">@T["Cancel"]</a>
<button type="submit" class="btn btn-lg btn-primary">
    @T["Post Answer"]
</button>
