@model LayoutViewModel
@{
    AddTitleSegment(T["Users"]);
}

<form asp-action="Display" class="user-display" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>