@model LayoutViewModel
@{
    AddTitleSegment(T["Edit Signature"]);
}

<form asp-action="EditSignature" class="user-edit-signature" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>