@model LayoutViewModel
@{
    AddTitleSegment(T["Edit Settings"]);
}

<form asp-action="EditSettings" class="user-edit-settings layout-header-sticky layout-content-left-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>