@model LayoutViewModel
@{
    AddTitleSegment(T["Edit Profile"]);
}

<form asp-action="EditProfile" class="user-edit-profile" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>