@model LayoutViewModel
@{
    AddTitleSegment(T["Edit Account"]);
}

<form asp-action="EditAccount" class="user-edit-account" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>