@model LayoutViewModel
@{
    AddTitleSegment(T["Edit Signature"]);
}

<form asp-action="EditSignature" class="user-edit-signature layout-header-sticky layout-content-left-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>