@model LayoutViewModel
@{
    AddTitleSegment(T["Docs"]);
}

<form asp-action="Display" class="doc-display layout-header-sticky layout-content-left-sticky layout-content-right-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>
