@model LayoutViewModel
@{
    AddTitleSegment(T["Docs"]);
    AddTitleSegment(T["Edit Doc"]);
}

<form asp-controller="Home" asp-action="Edit" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>