@model LayoutViewModel
@{
    AddTitleSegment(T["Docs"]);
}

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" 
            content-left-css="layout-sidebar layout-sidebar-sticky"
            content-right-css="layout-asides layout-asides-sticky"/>
</form>
