@model LayoutViewModel
@{
    AddTitleSegment(T["Docs"]);
    AddTitleSegment(T["Popular"]);
}

<form asp-action="Popular" class="doc-popular" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>