@model LayoutViewModel
@{
    AddTitleSegment(T["Ideas"]);
    AddTitleSegment(T["Tags"]);
}

<form asp-action="Display"  class="idea-tags-display" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>