

<section class="page" style="background: url(/plato.site/content/images/bg29.png) bottom left no-repeat;">
    <div class="container">
        <div class="p-5 text-center bg-white">
            <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
            <h1 class="font-weight-light text-primary">
                Ready to evolve & support your software                
            </h1>
            <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Pricing" asp-route-action="Index" data-provide="loader-spy">
                Goto Pricing <i class="fal fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>
