@{
    AddTitleSegment(T["Key Features?"]);
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="my-6 w-80 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold mx-auto w-70">
                    Feature Packed Support
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4 mx-auto max-w-800">
                    Everything you need within a single platform to build an amazing user community & support experience
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section id="features" class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-comment-alt"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Discuss
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Provide a civilized, spam free community to discuss your products
                </h3>
                <div class="img-thumbnail mt-4 border box-shadow">
                    <img alt="Plato.Discuss Screen Grab" src="~/plato.site/content/images/discuss.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-book-open"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Docs
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Create beautiful documentation to support your products
                </h3>
                <div class="img-thumbnail mt-4 border box-shadow">
                    <img alt="Plato.Docs Screen Grab" src="~/plato.site/content/images/docs.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-copy"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Articles
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Share articles or guides to help your users learn your products
                </h3>
                <div class="img-thumbnail mt-4 border box-shadow">
                    <img alt="Plato.Articles Screen Grab" src="~/plato.site/content/images/articles.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-question"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Questions
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Help your users find the answers they need with public or private Q&A
                </h3>
                <div class="img-thumbnail mt-4 border box-shadow">
                    <img alt="Plato.Questions Screen Grab" src="~/plato.site/content/images/questions.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-lightbulb"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Ideas
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Gather & prioritize ideas to shape your products with public or private ideation
                </h3>
                <div class="img-thumbnail mt-4 border box-shadow">
                    <img alt="Plato.Ideas Screen Grab" src="~/plato.site/content/images/ideas.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-bug"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Issues
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Identify the most important issues with public or private issue tracking
                </h3>
                <div class="img-thumbnail mt-4 border box-shadow">
                    <img alt="Plato.Issues Screen Grab" src="~/plato.site/content/images/issues.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12">
                <div class="p-5 text-center bg-white">
                    <div class="row">
                        <div class="col-12">
                            <i class="fal fa-plus text-primary fa-4x mb-4"></i>
                            <h1 class="text-uppercase text-primary font-weight-bold">
                                Hundreds of Modules
                            </h1>
                            <hr class="divider primary my-4" />
                            <h3 class="font-weight-light">
                                Custom-fit Plato with hundreds of official modules. Add theming, notifications, reporting, social integrations & more with a single click via the dashboard.
                            </h3>
                            <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Modules" data-provide="loader-spy">
                                All Official Modules
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Explore The Demo -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="p-5 text-center bg-white">
            <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
            <h1 class="text-uppercase text-primary font-weight-bold">
                Explore The Demo
            </h1>
            <hr class="divider primary my-4" />
            <h3 class="font-weight-light">
                Take Plato for a spin. The demo provides access to a default administrator account so you can fully explore Plato. Questions? <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Contact">Get in touch</a>
            </h3>
            <a class="btn btn-primary btn-lg mt-4" href="@platoSiteOptions.DemoUrl" target="_blank" data-provide="loader-spy">
                Launch Demo
            </a>
        </div>
    </div>
</section>

<!-- Call to action -->
<section class="page bg-primary-people">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="font-weight-bold text-white">
                    Plato can help you help your users & reduce inbound support
                </h4>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing" data-provide="loader-spy">
                    Get Started For Free
                </a>
            </div>
        </div>
    </div>
</section>

@section Header {<link rel="stylesheet" href="/plato.media.lightbox/content/css/lightbox.min.css" />}
@section Scripts {
    <script src="/plato.media.lightbox/content/js/lightbox.min.js"></script>
    <script>

        $(function (win, doc, $) {
            $(doc).ready(function() {
                $('#features').lightBox({
                    selector: ".img-fluid"
                });
            });
        }(window, document, jQuery));
    </script>
}
