@{
    AddTitleSegment(T["About Plato"]);
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
}

<!-- Jumbotron -->
<section class="page bg-ligt" style="background: url(/plato.site/content/images/bg18.png) bottom center repeat-x;">
    <div class="container mb-0">
        <div class="row text-center">
            <div class="col-12">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class=" display-4 text-primary text-uppercase font-weight-bold">
                    Captire new ideas
                </h1>
                <h2 class="font-weight-light  my-4">
                    Capture & prioritize ideas from your users to shape your software
                </h2>
            </div>
            <div class="col-12">
                <img alt="Plato Questions Screen Grab" src="~/plato.site/content/images/ideas.png" class="img-fluid  d-inline-block mt-4" />
            </div>
        </div>
    </div>
</section>

<!-- Evolve the product -->
<section class="page">
    <div class="container">
        <div class="py-5">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left ">
                    <h5 class="text-muted text-uppercase">Come together</h5>
                    <h2 class="display-5 text-primary font-weight-bold">
                        Evolve the product
                    </h2>
                    <hr class="divider divider-left my-4" />
                    <h4 class="font-weight-light  my-4">
                        Centralized product feedback software that gives you everything you need to gather, analyse & follow through on user feedback. See the user demand and feedback associated with all your ideas. Create transparency and delight users by delivering the most up-voted ideas.
                    </h4>
                </div>
                <div class="col-lg-6">
                    <img alt="GitHub Octocat Logo" src="/plato.site/content/images/newtopic.png" class="img-md-fluid float-none float-lg-right mx-md-auto d-inline-block max-w-600 ml-lg-3 mb-4 mb-lg-0" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Unleash all your knowledge -->
<section class="page">
    <div class="container">
        <div class="py-5">
            <div class="row">
                <div class="col-lg-6">
                    <img alt="GitHub Octocat Logo" src="/plato.site/content/images/badges.png" class="img-md-fluid float-none mx-md-auto d-inline-block max-w-600 mr-lg-3 mb-4 mb-lg-0" />
                </div>
                <div class="col-lg-6 text-center text-lg-left ">
                    <h5 class="text-muted text-uppercase">Peer to peer support</h5>
                    <h1 class="display-4 text-primary font-weight-bold">
                        Share your plan
                    </h1>
                    <hr class="divider divider-left my-4" />
                    <h4 class="font-weight-light  my-4">
                        If you’re not short of ideas your teams can share their own road map or forthcoming features and allow users vote for the features, they would like to see the most. This helps your teams understand what users want and what they should be focused on for the next release.
                    </h4>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Capture everything -->
<section class="page">
    <div class="container">
        <div class="py-5">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left ">
                    <h5 class="text-muted text-uppercase">Peer to peer support</h5>
                    <h1 class="display-5 text-primary font-weight-bold">
                        Move work forward
                    </h1>
                    <h4 class="font-weight-light  my-4">
                        Keep users fully engaged and in the loop as you develop their ideas. Collaborate to seek further context or @@mention product experts to get them involved. Users who participate within ideas are notified of any updates to the idea keeping everyone involved until the idea is closed.
                    </h4>
                </div>
                <div class="col-lg-6">
                    <img alt="GitHub Octocat Logo" src="/plato.site/content/images/newtopic.png" class="img-md-fluid float-none float-lg-right mx-md-auto d-inline-block max-w-600 ml-lg-3 mb-4 mb-lg-0" />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Features you'll love -->
<section class="page bg-light">
    <div class="container">
        <!-- User Features -->
        <div class="row">
            <div class="col-12 text-center">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase text-primary font-weight-bold mt-4">
                    Shared Features
                </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: lock;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Flexible Security
                            </strong>
                            <span class="d-block mb-0">
                                XXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX X
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: search;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Single Search
                            </strong>
                            <span class="d-block mb-0">
                                Search at the speed of type across all your discussions, documentation, articles, questions, issues, ideas & even inside shared files.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: tablet;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Mobile Friendly
                            </strong>
                            <span class="d-block mb-0">
                                XXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX X
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: globe;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                SEO Ready
                            </strong>
                            <span class="d-block mb-0">
                                XXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX X
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: grid;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Customizable
                            </strong>
                            <span class="d-block mb-0">
                                XXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX X
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">

                            <div class="livicon-evo d-inline-block" data-options="
                                    name: line-chart;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Reporting
                            </strong>
                            <span class="d-block mb-0">
                                XXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX XXXXX XXX XX XXXXX X
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Call to action -->
<section class="page" style="background: url(/plato.site/content/images/bg5.png) center center no-repeat;">
    <div class="container">
        <div class="p-5 text-center bg-white">
            <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
            <h4 class=" text-primary font-weight-bold">
                Plato can help you help your users & reduce inbound support
            </h4>
            <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Pricing" asp-route-action="Index" data-provide="loader-spy">
                Get Started for Free
            </a>
        </div>
    </div>
</section>
