@{
    AddTitleSegment(T["Ideas"]);
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
}

<!-- Jumbotron -->
<section class="page bg-ligt" style="background: url(/plato.site/content/images/bg18.png) bottom center repeat-x;">
    <div class="container mb-0">
        <div class="row text-center">
            <div class="col-12">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class=" display-4 text-primary text-uppercase font-weight-bold">
                    Capture & prioritize user feedback
                </h1>
                <h2 class="font-weight-light  my-4">
                    Capture & prioritize feedback from your users to help shape your software
                </h2>
            </div>
            <div class="col-12">
                <img alt="Plato Questions Screen Grab" src="~/plato.site/content/images/ideas.png" class="img-fluid  d-inline-block mt-4" />
            </div>
        </div>
    </div>
</section>

<!-- Live Demo -->
<section class="py-4 border-top border-bottom border-light">
    <div class="container text-center">
        Explore a live demo of our customer feedback software
        <div class="d-block d-lg-inline-block mt-4 mt-lg-0 ml-lg-4">
            <a href="@platoSiteOptions.DemoUrl" target="_blank" data-provide="loader-spy" class="btn btn-outline-primary">
                Live Demo
            </a>
        </div>
    </div>
</section>

<!-- Evolve the product -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <h5 class="text-muted text-uppercase">Spot great ideas</h5>
                <h1 class="display-5 text-primary font-weight-bold">
                    Evolve the product
                </h1>
                <hr class="divider divider-left my-4" />
                <h4 class="font-weight-light">
                    Centralized product feedback software that gives you everything you need to gather, analyse & follow through on user feedback. See the user demand and feedback associated with all your ideas. Create transparency and delight users by delivering the most up-voted ideas.
                </h4>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="product-image mx-auto mx-lg-0 mt-4 mt-lg-0">
                    <div class="img-star-danger img-corner-top-right img-48"></div>
                    <img alt="Plato Ideas - Evolve the product" src="/plato.site/content/images/ideas1.png" class="img-md-fluid float-none float-lg-right mx-md-auto d-inline-block max-w-600 ml-lg-3 mb-4 mb-lg-0" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Share your plan -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left order-lg-2">
                <h5 class="text-muted text-uppercase">Deliver value</h5>
                <h1 class="display-5 text-primary font-weight-bold">
                    Shape your plan
                </h1>
                <hr class="divider divider-left my-4" />
                <h4 class="font-weight-light">
                    If you’re not short of ideas share your road map or forthcoming features and let users vote for the features they would like to see the most. This helps your teams understand what users want and what they should be focused on for the next release.
                </h4>
            </div>
            <div class="col-lg-6 order-lg-1 text-center text-lg-left">
                <div class="product-image mx-auto mx-lg-0 mt-4 mt-lg-0">
                    <div class="img-star-warning img-corner-top-left img-48"></div>
                    <img alt="Plato Ideas - Shape your plan" src="/plato.site/content/images/ideas2.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Move work forward -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left ">
                <h5 class="text-muted text-uppercase">Close the loop</h5>
                <h1 class="display-5 text-primary font-weight-bold">
                    Move work forward
                </h1>
                <hr class="divider divider-left my-4" />
                <h4 class="font-weight-light">
                    Keep users fully engaged and in the loop as you develop their ideas. Collaborate to seek further context or @@mention product experts to get them involved. Users who participate within ideas are notified via web & email of any updates to the idea keeping everyone involved until the idea is closed.
                </h4>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="product-image mx-auto mx-lg-0 mt-4 mt-lg-0">
                    <div class="img-star-success img-corner-bottom-left img-48"></div>
                    <img alt="Plato Discuss - User Reputation" src="/plato.site/content/images/ideas3.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Feedback Features -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-white font-weight-bold mt-4">
                    Feedback Features
                </h1>
                <hr class="divider border-white my-4" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">

                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                User Voting
                            </strong>
                            <span class="d-block mb-0">
                                Identify demand & allow your users to vote for the best ideas.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Reactions
                            </strong>
                            <span class="d-block mb-0">
                                Let users react to feedback without having to post.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                @@mentions
                            </strong>
                            <span class="d-block mb-0">
                                @@mention team members to keep feedback moving.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Notifications
                            </strong>
                            <span class="d-block mb-0">
                                Keep users & teams engaged to close the feedback loop.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Categories
                            </strong>
                            <span class="d-block mb-0">
                                Group feedback by product or project or anyway you wish
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Tags & Labels
                            </strong>
                            <span class="d-block mb-0">
                                Discover ideas by following tags or labels of interest.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Private Ideas
                            </strong>
                            <span class="d-block mb-0">
                                Manage feedback publicly or privately via private ideas.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Complete History
                            </strong>
                            <span class="d-block mb-0">
                                A history of every change to ideas & feedback.
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<!-- Shared Features -->
<caching vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteSharedFeatures", new
    {
        sticky = false
    }))
</caching>

<!-- Call to action -->
<caching vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteCallToAction", new
    {
        sticky = false
    }))
</caching>
