@{
    AddTitleSegment(T["Collaboration & support software"]);
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
}

<!-- Jumbotron -->
<section class="page bg-light" style="background: url(/plato.site/content/images/bg14.png) bottom center repeat-x;">
    <div class="container mb-0">
        <div class="row text-center">
            <div class="col-12">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class=" display-4 text-primary text-uppercase font-weight-bold">
                    Collaboration & support software
                </h1>
                <h2 class="font-weight-light  my-4">
                    Plato offers a fully integrated suite of tools to help you evolve & support amazing software
                </h2>
            </div>
            <div class="col-12">
                <img alt="Plato Homepage Screen Grab" src="~/plato.site/content/images/home.png" class="img-fluid  d-inline-block mt-4" />
            </div>
        </div>
    </div>
</section>

<!--  Key Features-->
<section class="page bg-light">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase text-primary font-weight-bold">
                    Key Features
                </h1>
                <hr class="divider my-4">
            </div>
        </div>
        <cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
            @await DisplayAsync(new View("SiteKeyFeatures", new
            {
                sticky = false
            }))
        </cache>
    </div>
</section>

<!-- Explore The Demo -->
<cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteExploreDemo", new
    {
        sticky = false
    }))
</cache>

<!-- Features you'll love -->
<section class="page bg-light">
    <div class="container">
        <!-- User Features -->
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-primary font-weight-bold mt-4">
                    For Users
                </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Collaboration
                            </strong>
                            <span class="d-block mb-0">
                                Provide a modern user community to discuss and support your products.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Documentation
                            </strong>
                            <span class="d-block mb-0">
                                Provide beautiful, consistent articles & documentation all written in Markdown.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Answers
                            </strong>
                            <span class="d-block mb-0">
                                Help users find the answers they need quickly through dedicated Q&A.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Ideas
                            </strong>
                            <span class="d-block mb-0">
                                Prioritize through public ideation. Let users suggest new ideas or vote for their favorite ideas.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Single Search
                            </strong>
                            <span class="d-block mb-0">
                                Instantly search across all your discussions, documentation, questions, issues & ideas.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Notifications
                            </strong>
                            <span class="d-block mb-0">
                                Follow anything within Plato get notified via email or web when content is updated.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-primary font-weight-bold mt-4">
                    For teams
                </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Spam Protection
                            </strong>
                            <span class="d-block mb-0">
                                Plato integrates with 3rd party spam services to automatically detect and hide SPAM.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Simple Moderation
                            </strong>
                            <span class="d-block mb-0">
                                Simple moderation tools ensure your team can keep your community on topic.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Content Authoring
                            </strong>
                            <span class="d-block mb-0">
                                Compose beautiful, consistent articles or documentation easily with Markdown
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Audit History
                            </strong>
                            <span class="d-block mb-0">
                                A full history of all changes to topics, docs, articles, questions ideas & issues,
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Role Based Security
                            </strong>
                            <span class="d-block mb-0">
                                Private team or customer areas for discussion, docs, questions, ideas or issues.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Reports
                            </strong>
                            <span class="d-block mb-0">
                                Plato offers several reporting modules providing insight into your community & support
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-primary font-weight-bold mt-4">For Devs</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-lg-4 mb-4">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        .NET Core
                    </strong>
                    <span class="d-block mb-0">
                        Written to target ASP.NET Core 3.1 LTS & MVC6. All 100% .NET Standard 2.1 class libraries.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        Bootstrap 4
                    </strong>
                    <span class="d-block mb-0">
                        Plato uses 100% Bootstrap 4 ensuring your front-end devs will love Plato.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        Visual Studio
                    </strong>
                    <span class="d-block mb-0">
                        Plato works great in Visual Studio 2019 and above. Download, open the solution & run.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        100% DI
                    </strong>
                    <span class="d-block mb-0">
                        Plato uses dependency injection provided as standard by .NET core throughout.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        Modular Design
                    </strong>
                    <span class="d-block mb-0">
                        Modules are small independent NuGet packages that add features to Plato.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        Beautiful C#
                    </strong>
                    <span class="d-block mb-0">
                        Written 100% in C# from scratch with no 3rd party libraries or dependencies.
                    </span>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- An Extensible Modular Platform -->
<section class="page bg-primary-15">
    <div class="container">
        <div class="p-5 bg-white">
            <div class="row">
                <div class="col-12 text-center text-lg-left ">
                    <img alt="Plato Logo" src="~/plato.site/content/images/vsmodules.png" class="img-md-fluid float-none float-lg-right mx-md-auto max-w-400 d-inline-block ml-lg-5 mb-4 mb-lg-0" />
                    <h1 class="display-5 font-weight-bold text-primary text-uppercase">
                        An Extensible Modular Platform
                    </h1>
                    <hr class="divider divider-left my-4" />
                    <p>
                        Plato is built from the ground up to be super extensible via the built-in module system.
                        All of the features offered by Plato are offered as modules and built upon this same module system - even the module system is a module.
                    </p>
                    <p>
                        Modules are independent NuGet packages or Visual Studio projects that can extend Plato to add or modify functionality. Plato exposes hundreds of extensibility points allowing module developers to easily customize every aspect of Plato.
                    </p>
                    <p>
                        You can see various module projects provided with Plato opposite within the Visual Studio solution explorer.
                    </p>
                    <p>
                        <h3 class="font-weight-light">
                            <a class="btn btn-primary btn-lg my-4" href="https://github.com/InstantASP/plato/tree/master/src/Web/Modules" target="_blank">
                                <i class="fab fa-github align-middle mr-2"></i>Browse all modules on GitHub
                            </a>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- The Module System -->
<section class="page bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-primary font-weight-bold">
                    Module Features
                </h1>
                <h3 class="font-weight-light my-4">
                    Everything within Plato is a module. The Plato module system offers the following benefits:-
                </h3>
                <hr class="divider primary my-4">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Auto Discovery
                            </strong>
                            <span class="d-block mb-0">
                                Plato will automatically detect newly installed modules and check compatibility.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                One Click Install
                            </strong>
                            <span class="d-block mb-0">
                                Modules can be enabled or disabled anytime via the Plato administrator dashboard.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center  bg-white border">
                            <strong class="d-block h4 mb-2">Auto Upgrades</strong>
                            <span class="d-block mb-0">
                                Plato offers automated detection and upgrading of out of date modules.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Events & Messages
                            </strong>
                            <span class="d-block mb-0">
                                Modules can hook into hundreds of events exposed via the Plato message broker.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">Interfaces</strong>
                            <span class="d-block mb-0">
                                Plato exposes hundreds of interfaces developers can implement to extend Plato.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">Versions</strong>
                            <span class="d-block mb-0">
                                As modules have versions they can be released independently of the Plato core.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to action -->
<cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteCallToAction", new
    {
        sticky = false
    }))
</cache>
