@{
    AddTitleSegment(T["About Plato"]);
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
}

<!-- Jumbotron -->
<section class="page bg-ligt" style="background: url(/plato.site/content/images/bg28.png) bottom center repeat-x;">
    <div class="container mb-0">
        <div class="row text-center">
            <div class="col-12">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class=" display-4 text-primary text-uppercase font-weight-bold">
                    Identify important issues
                </h1>
                <h2 class="font-weight-light  my-4">
                    Capture & prioritize issues directly from your users to deliver better software
                </h2>
            </div>
            <div class="col-12">
                <img alt="Plato Questions Screen Grab" src="~/plato.site/content/images/issues.png" class="img-fluid  d-inline-block mt-4" />
            </div>
        </div>
    </div>
</section>

<!-- Live Demo -->
<section class="py-4 border-top border-bottom border-light">
    <div class="container text-center">
        Explore a live demo of our issue tracking software
        <div class="d-block d-lg-inline-block mt-4 mt-lg-0 ml-lg-4">
            <a href="@platoSiteOptions.DemoUrl" target="_blank" data-provide="loader-spy" class="btn btn-outline-primary">
                Live Demo
            </a>
        </div>
    </div>
</section>

<!-- User driven issues -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <h5 class="text-muted text-uppercase">Fix bugs faster</h5>
                <h1 class="display-5 text-primary font-weight-bold">
                    User driven issues
                </h1>
                <hr class="divider divider-left my-4" />
                <h4 class="font-weight-light">
                    A central space for your team to work with users to gather, analyse & resolve errors or issues within your software. With issues users can report new issues or vote on existing issues affecting them the most. Help your teams collaborate with users and identify the most critical issues to resolve.
                </h4>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="product-image mx-auto mx-lg-0 mt-4 mt-lg-0">
                    <div class="img-star-primary img-corner-top-right img-48"></div>
                    <img alt="Plato Issues - User driven issues" src="/plato.site/content/images/issues1.png" class="img-md-fluid float-none float-lg-right mx-md-auto d-inline-block max-w-600 ml-lg-3 mb-4 mb-lg-0" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Improve team efficiency -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left order-lg-2">
                <h5 class="text-muted text-uppercase">Collaborate to resolve</h5>
                <h1 class="display-5 text-primary font-weight-bold">
                    Improve team efficiency
                </h1>
                <hr class="divider divider-left my-4" />
                <h4 class="font-weight-light">
                    Our collaborative issue tracking ensures your team is focused on the high priority issues voted for by your users rather than spending time on smaller issues. Enhance transparency by ensuring every member of your team can work together to help resolve issues affecting your users.
                </h4>
            </div>
            <div class="col-lg-6 order-lg-1 text-center text-lg-left">
                <div class="product-image mx-auto mx-lg-0 mt-4 mt-lg-0">
                    <div class="img-star-warning img-corner-top-right img-48"></div>
                    <img alt="Plato Issues - Collaboration" src="/plato.site/content/images/issues2.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Private issues -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left ">
                <h5 class="text-muted text-uppercase">Public or Private</h5>
                <h1 class="display-5 text-primary font-weight-bold">
                    Private issues
                </h1>
                <hr class="divider divider-left my-4" />
                <h4 class="font-weight-light">
                    If our public, transparent approach to issue tracking is not for you, you can also configure issues to be completely private and only accessible to your team or a sub-set of your users. You have control over who can access issues within Plato via flexible permissions & role based security.
                </h4>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="product-image mx-auto mx-lg-0 mt-4 mt-lg-0">
                    <div class="img-star-success img-corner-top-left img-48"></div>
                    <img alt="Plato Issues - Private issues" src="/plato.site/content/images/issues3.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Feedback Features -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-white font-weight-bold mt-4">
                    Issue Tracking Features
                </h1>
                <hr class="divider border-white my-4" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Notifications
                            </strong>
                            <span class="d-block mb-0">
                                Keep users & teams engaged to resolve issues faster.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                User Voting
                            </strong>
                            <span class="d-block mb-0">
                                Identify demand & allow your users to vote for the top issues.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                #references
                            </strong>
                            <span class="d-block mb-0">
                                Intelligent linking to other issues via hash references.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                @@mentions
                            </strong>
                            <span class="d-block mb-0">
                                @@mention product experts to keep issues moving.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Categories
                            </strong>
                            <span class="d-block mb-0">
                                Group issues by product or project or anyway you wish
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Tags & Labels
                            </strong>
                            <span class="d-block mb-0">
                                Discover issues by following tags or labels of interest.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                File Sharing
                            </strong>
                            <span class="d-block mb-0">
                                Drag & drop files into issues to share supporting files.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Complete History
                            </strong>
                            <span class="d-block mb-0">
                                A history of every change to issues & feedback.
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<!-- Shared Features -->
<cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteSharedFeatures", new
    {
        sticky = false
    }))
</cache>

<!-- Call to action -->
<cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteCallToAction", new
    {
        sticky = false
    }))
</cache>
