@{
    AddTitleSegment(T["Modules"]);
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
}

<!-- Jumbotron -->
<section class="page bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class=" display-4 text-primary text-uppercase font-weight-bold">
                    A Modular Platform
                </h1>
                <h2 class="font-weight-light  my-4">
                    Modules are independent NuGet packages or Visual Studio projects that extend or add functionality to Plato.
                    All 180+ modules listed below are available out of the box with all editions of Plato.
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- All Modules -->
<section class="page bg-light">
    <div class="container mt-0">
        <div class="row">
            <div class="col-12">
                <cache expires-after="@TimeSpan.FromMinutes(30)">
                    @await DisplayAsync(new View("SiteModuleList", new
                    {
                        options = new FeatureIndexOptions()
                    }))
                </cache>
            </div>
        </div>
    </div>
</section>

<!-- Call to action -->
<cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteCallToAction", new
    {
        sticky = false
    }))
</cache>
