@{
    AddTitleSegment(T["Modules"]);
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
}

<!-- Jumbotron -->
<section class="page bg-ligt">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class=" display-4 text-primary text-uppercase font-weight-bold">
                    A Modulur Platform
                </h1>
                <h2 class="font-weight-light  my-4">
                    Modules are independent NuGet packages or Visual Studio projects that extend or add functionality to Plato.
                    All 180+ modules listed below are available out of the box with all editions of Plato.

                </h2>
            </div>
         
        </div>
    </div>
</section>


<!-- All Modules -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <cache expires-after="@TimeSpan.FromMinutes(30)">
                    @await DisplayAsync(new View("SiteModuleList", new
                    {
                        options = new FeatureIndexOptions()
                    }))
                </cache>
            </div>
        </div>
    </div>
</section>

<!-- Explore The Demo -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="p-5 text-center bg-white">
            <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
            <h1 class="text-uppercase text-primary font-weight-bold">
                Explore The Demo
            </h1>
            <hr class="divider primary my-4" />
            <h3 class="font-weight-light">
                Take Plato for a spin. The demo provides access to a default administrator account so you can fully explore Plato. Questions? <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Contact">Get in touch</a>
            </h3>
            <a class="btn btn-primary btn-lg mt-4" href="@platoSiteOptions.DemoUrl" target="_blank" data-provide="loader-spy">
                Launch Demo
            </a>
        </div>
    </div>
</section>

<!-- Call to action -->
<section class="page bg-primary-people">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="font-weight-bold text-white">
                    Plato can help you help your users & reduce inbound support
                </h4>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing" data-provide="loader-spy">
                    Get Started For Free
                </a>
            </div>
        </div>
    </div>
</section>