@using Microsoft.AspNetCore.Routing
@model SignUpViewModel
@{
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
    var hostUrl = platoSiteOptions.HostUrl;
    var signUpUrl = hostUrl + GetRouteUrl(new RouteValueDictionary()
    {
        ["area"] = "Plato.Tenants.SignUp",
        ["controller"] = "Home",
        ["action"] = "Index"
    });
}

<form action="@signUpUrl" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <input asp-for="Email" class="form-control form-control-lg" placeholder="@T["name@work-email.com"]" />
    <button type="submit" role="button" class="btn btn-lg btn-primary btn-block mt-2">@T["Start your 7 day free trial"]</button>
</form>