@{
    AddTitleSegment(T["Self Hosted Pricing"]);
}

<!-- Jumbotron -->
<section class="page bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">

                <h1 class=" display-4 text-primary text-uppercase font-weight-bold">
                    Pricing from free? Yes, please!
                </h1>
                <h2 class="font-weight-light  my-4">
                    Plato is 100% free & open source software. If you get value from Plato and are using Plato for commerical purposes please consider supporting our ongoing development via our paid licenses
                </h2>
            </div>

        </div>
    </div>
</section>

<!-- Self Hosted -->
<section class="page" style="margin-top: -100px;">
    <div class="container mt-0">
        <div class="row">
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card card-primary-price box-shadow">
                    <div class="card-body">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-60 mt-4" />
                        <p>
                            <h5 class="text-muted">Self Hosted</h5>
                            <h3 class="text-primary">Community</h3>
                        </p>
                        <p>
                            For those wanting to host Plato on their own infrastructure for an unlimited period of time with no official product support
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3">
                                <a href="https://github.com/InstantASP/plato/tree/master/src" target="_blank">Full source code</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Complete access to over 200 Visual Studio C# .NET Core projects that make up Plato"></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Plato" asp-route-action="Modules">180+ modules</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Customize your Plato installation with over 180 modules"></i>
                            </li>
                            <li class="d-block p-3">
                                <a href="/docs/d/46/licensing">GNU General Public License</a>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Pricing" asp-route-action="Index" asp-fragment="free-support">Free Support</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="While we will always try to assist we cannot guarantee official support with our free license."></i>
                            </li>
                        </ol>
                        <h3 class="display-4 text-primary">Free</h3>
                        <div>
                            free & open source
                        </div>
                        <a href="https://github.com/InstantASP/plato" target="_blank" class="btn btn-block btn-lg btn-primary mt-4">
                            <i class="fab fa-github"></i> Install from GitHub
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card card-danger-price box-shadow">
                    <div class="card-body">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-60 mt-4" />
                        <p>
                            <h5 class="text-muted">Self Hosted</h5>
                            <h3 class="text-danger">Business</h3>
                        </p>
                        <p>
                            For businesses hosting Plato on their own servers who require guaranteed priority technical support via email & phone.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3">
                                <a href="https://github.com/InstantASP/plato/tree/master/src" target="_blank">Full source code + Builds</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Complete access to over 200 Visual Studio C# .NET Core projects that make up Plato plus access to pre-packaged, fully supported builds you can deploy right into production."></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Plato" asp-route-action="Modules">180+ modules</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Customize your Plato installation with over 180 modules"></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Legal" asp-route-action="License">Commerical License</a>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Support" asp-route-action="Index" asp-fragment="business-support">Business Support</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Priority email & telephone technical support for one Plato installation direct from Plato devs. A response is guaranteed within 48 hours."></i>
                            </li>
                        </ol>
                        <h3 class="display-4 text-danger">$689</h3>
                        <div>
                            one time payment / VAT may apply
                        </div>
                        <a href="https://order.shareit.com/cart/add?vendorid=200279505&PRODUCT[300965432]=1" class="btn btn-block btn-lg btn-danger mt-4">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card card-info-price box-shadow">

                    <div class="card-body">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-60 mt-4" />
                        <p>
                            <h5 class="text-muted">Self Hosted</h5>
                            <h3 class="text-info">Enterprise</h3>
                        </p>
                        <p>
                            For enterprises hosting Plato who require branding, personal training & guaranteed priority support via email & phone.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3">
                                <a href="https://github.com/InstantASP/plato/tree/master/src" target="_blank">Full source code + Builds</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Complete access to over 200 Visual Studio C# .NET Core projects that make up Plato plus access to pre-packaged, fully supported builds you can deploy right into production."></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Plato" asp-route-action="Modules">180+ modules</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Customize your Plato installation with over 180 modules"></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Legal" asp-route-action="License">Commerical License</a>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Support" asp-route-action="Index" asp-fragment="enterprise-support">Enterprise Support</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Priority email & telephone technical support for one Plato installation direct from Plato devs. A response is guaranteed within 48 hours."></i>
                            </li>
                        </ol>
                        <h3 class="display-4 text-info">$1,429</h3>
                        <div>
                            one time payment / VAT may apply
                        </div>
                        <a href="https://order.shareit.com/cart/add?vendorid=200279505&PRODUCT[300965433]=1" class="btn  btn-block btn-lg btn-info mt-4">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page">
    <div class="container mt-0 text-center">
        <h3>
            We can also host Plato for you. See our <a asp-route-action="FullyManaged">fully managed pricing</a>.
        </h3>
    </div>
</section>

<!-- FAQ -->
@*<section class="page">
    <div class="container mt-0">
        <div class="row text-center">
            <div class="col-12">                
                <h1 class="text-uppercase text-primary font-weight-bold">
                    Frequently Asked Questions
                </h1>

                <h3 class="font-weight-light">
                    Questions not covered below? <a asp-route-action="Contact">Get in touch</a>
                </h3>
                <hr class="divider primary my-4" />
            </div>
        </div>
        <div class="accordion mt-4" role="tablist">
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q3" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            How secure is my data?
                        </a>
                    </h5>
                </div>
                <div id="q3" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        All our hosted services are built upon the Windows Azure platform and hosted in datacenters fully managed by Microsoft. Windows Azure runs in geographically dispersed datacenters that comply with key industry standards, such as ISO/IEC 27001:2005, for security and reliability. In addition to datacenter, network, and personnel security practices, InstantASP incorporates security practices at the application and platform layers to enhance security for our customers.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q1" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            How do I pay &amp; how will I be billed?
                        </a>
                    </h5>
                </div>
                <div id="q1" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        You can sign-up for all hosting plans via our web site securely using your credit card. All hosted services are automatically billed every 30 days in advance for the next month’s usage. You will be billed every 30 days from the date you sign-up until you cancel your hosted service.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q4" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Are there any contracts / long term commitments?
                        </a>
                    </h5>
                </div>
                <div id="q4" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        No. We would rather keep you as a customer by offering great service and support. You can cancel your hosted account at any time. That said we cannot refund your monthly subscription so we would suggest you cancel towards the end of the current billed month.  If you cancel your hosted service just after being billed I’m afraid we cannot refund this.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q5" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Is my account compliant with my regulatory requirements?
                        </a>
                    </h5>
                </div>
                <div id="q5" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        We commit to compliance with data protection and privacy laws generally applicable to IT service providers.  If you are subject to industry or jurisdictional requirements, you will need to make your own assessment of your ability to comply.  Customers in many industries and geographies have found they can use our hosted service in a manner that complies with applicable regulations, provided they utilize the services in a manner appropriate to their particular circumstances.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q6" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Can we pay annually?
                        </a>
                    </h5>
                </div>
                <div id="q6" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        Yes. If you would like to pay annually please <a asp-route-action="Contact">contact us</a>. We can also offer a small discount if you choose to pay annually. We will contact you via email each year when your plan is due for renewal.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q7" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            What happens if I exceed storage or page view limits?
                        </a>
                    </h5>
                </div>
                <div id="q7" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        You should expect your page views & storage requirements to grow over time. If you exceed storage or page view limits you'll need to purchase additional storage and / or page views to match your growth.
                        For an extra $50 USD per month you will get 100k additional page views and an additional 10gb of storage

                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q8" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Are there any separate email sending fees?
                        </a>
                    </h5>
                </div>
                <div id="q8" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        To protect our mail servers against being blacklisted we limit the total number of emails you can send to 2000 emails per day or 60,000 emails per month. If you need to send more than 60,000 emails per month you can either use your own SMTP server from our hosted software or contact us for further pricing.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q9" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            How can I use my own domain?
                        </a>
                    </h5>
                </div>
                <div id="q9" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        Our plans allow you to use your own company domain name to access your hosted version of our software. You will first need to register your preferred domain name with a domain name registration service (for example GoDaddy). Once you have your domain you can add a A record for your domain or sub-domain to point this to our hosted service. This process once set-up correctly will be completely transparent to you're end users.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q10" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Can we use SSL for our hosted service?
                        </a>
                    </h5>
                </div>
                <div id="q10" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        Yes all plans offer SSL support by default. Once we know the domain name you would like to use we will provision & configure the SSL certificate to ensure your Plato traffic is protected by SSL. We will mange the certificate and ensure this is renewed as necessary.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q11" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            What happens if another third party asks for my data?
                        </a>
                    </h5>
                </div>
                <div id="q11" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        We believe our customers should control their own information whether stored on their premises or in a cloud service. Accordingly, we will not disclose customer data to any third party (including law enforcement, other government entity or civil litigant) except as you direct or is required by law. Should a third party contact us with a demand for customer data, we will always redirect the third party to request this information directly from you.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush">
                <div class="card-header bg-light" role="tab">
                    <h5 class="card-title">
                        <a data-toggle="collapse" href="#q12" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            What level of support is provided with my plan?
                        </a>
                    </h5>
                </div>
                <div id="q12" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush collapse">
                    <div class="list-group-item">
                        All our hosted options are backed by our prompt first class support. You can post pulic or private questions or issues via our <a asp-route-area="Plato.Core" asp-route-controller="Support" asp-route-action="Index">support site</a> or email us directly and we'll strive to respond within 24 hours Mon-Fri. As a hosted customer you can also call us directly Mon-Fri 9am-9pm GMT. If your hosting Plato on your own servers and require official support please see our <a asp-route-controller="Support" asp-action="Index">support options</a>.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>*@

@*<section class="page">
    <div class="container mt-0">
         Security 
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-uppercase font-weight-bold text-primary">
                    Why choose us
                </h2>
            </div>
        </div>

         Brand 
        <div class="row">
            <div class="flex-column flex-lg-row d-flex justify-content-start justify-content-lg-center align-items-start align-items-lg-center w-100 text-center">
                <div class="w-100 mx-2 py-5 px-4 text-center">
                    <div class="icon-circle">
                        <i class="fal fa-clock text-muted opacity-50"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            First class support
                        </h5>
                        All our customers get a response within 24 hours (usually less) directly from our product developers.
                    </div>
                </div>
                <div class="w-100 mx-2 py-5 px-4 text-center">
                    <div class="icon-circle">
                        <i class="fal fa-angle-double-up text-muted opacity-50"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Expertise
                        </h5>
                        Established in 2001 we've been in business developing community & support software for over 19 years.
                    </div>
                </div>
                <div class="w-100 mx-2 py-5 px-4 text-center">
                    <div class="icon-circle">
                        <i class="fal fa-heart text-muted opacity-50"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            20,000 Customers
                        </h5>
                        We strive to support those that support us.
                        Over the years we've helped over 20,000 happy customers.
                    </div>
                </div>
                <div class="w-100 mx-2 py-5 px-4 text-center">
                    <div class="icon-circle">
                        <i class="fal fa-chart-bar text-muted opacity-50"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Proven Results
                        </h5>
                        We've helped thousands of companies deliver community & support experiences.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<!-- Call to action -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="p-5 bg-white text-center">
            <div class="livicon-evo d-inline-block" data-options="
                        name: envelope-put;
                        repeat: loop;
                        style: linesAlt;
                        size: 120px;
                        strokeWidth: 4px;
                        strokeColor: #007bff;
                        strokeColorAlt: #F9B32F;
                        eventType: none;">
            </div>
            <h1 class="font-weight-bold text-primary">
                Questions? We would love to help
            </h1>
            <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Company" asp-route-action="Contact" data-provide="loader-spy">
                Contact Us
            </a>

        </div>
    </div>
</section>
