@{
    AddTitleSegment(T["Pricing"]);
}

<!-- Jumbotron -->
<section class="page bg-light border-bottom border-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class=" display-4 text-primary text-uppercase font-weight-bold">
                    Pricing from free? Yes, please!
                </h1>
                <h2 class="font-weight-light  my-4">
                    Plato is 100% free & open source software. If you get value from Plato or are using Plato for commercial purposes please consider supporting our ongoing development via our paid licenses
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- Self Hosted -->
<section class="page" style="margin-top: -100px;">
    <div class="container mt-0">
        <div class="row">
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card card-primary-price box-shadow">
                    <div class="card-body">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-60 mt-4" />
                        <p>
                            <h5 class="text-muted">Self Hosted</h5>
                            <h3 class="text-primary">Community</h3>
                        </p>
                        <p>
                            For those wanting to host Plato on their own infrastructure for an unlimited period of time with no official product support
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3">
                                <a href="https://github.com/InstantASP/plato/tree/master/src" target="_blank">Full source code</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Complete access to over 200 Visual Studio C# .NET Core projects that make up Plato"></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Plato" asp-route-action="Modules">180+ modules</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Customize your Plato installation with over 180 modules"></i>
                            </li>
                            <li class="d-block p-3">
                                <a href="/docs/d/46/licensing">GNU General Public License</a>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Pricing" asp-route-action="Index" asp-fragment="free-support">Free Support</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="While we will always try to assist we cannot guarantee official support with our free license."></i>
                            </li>
                        </ol>
                        <h3 class="display-4 text-primary">Free</h3>
                        <div>
                            free & open source
                        </div>
                        <a href="https://github.com/InstantASP/plato" target="_blank" class="btn btn-block btn-lg btn-primary mt-4">
                            <i class="fab fa-github"></i> Install from GitHub
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card card-danger-price box-shadow">
                    <div class="card-body">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-60 mt-4" />
                        <p>
                            <h5 class="text-muted">Self Hosted</h5>
                            <h3 class="text-danger">Business</h3>
                        </p>
                        <p>
                            For businesses hosting Plato on their own servers who require guaranteed priority technical support via email & phone.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3">
                                <a href="https://github.com/InstantASP/plato/tree/master/src" target="_blank">Full source code + Builds</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Complete access to over 200 Visual Studio C# .NET Core projects that make up Plato plus access to pre-packaged, fully supported builds you can deploy right into production."></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Plato" asp-route-action="Modules">180+ modules</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Customize your Plato installation with over 180 modules"></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Legal" asp-route-action="License">Commercial License</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Our commercial license allows businesses to use Plato within a commercial project and is backed by updates & guaranteed priority technical support."></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Support" asp-route-action="Index" asp-fragment="business-support">Business Support</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Priority email & telephone technical support for one Plato installation direct from Plato devs. A response is guaranteed within 48 hours."></i>
                            </li>
                        </ol>
                        <h3 class="display-4 text-danger">$829</h3>
                        <div>
                            one time payment / VAT may apply
                        </div>
                        <a href="https://order.shareit.com/cart/add?vendorid=200279505&PRODUCT[300965432]=1" class="btn btn-block btn-lg btn-danger mt-4">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card card-info-price box-shadow">

                    <div class="card-body">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-60 mt-4" />
                        <p>
                            <h5 class="text-muted">Self Hosted</h5>
                            <h3 class="text-info">Enterprise</h3>
                        </p>
                        <p>
                            For enterprises hosting Plato who require branding, personal training & guaranteed priority support via email & phone.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3">
                                <a href="https://github.com/InstantASP/plato/tree/master/src" target="_blank">Full source code + Builds</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Complete access to over 200 Visual Studio C# .NET Core projects that make up Plato plus access to packaged, fully supported builds you can deploy right into production."></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Plato" asp-route-action="Modules">180+ modules</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Customize your Plato installation with over 180 modules"></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Legal" asp-route-action="License">Commercial License</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Our commercial license allows businesses to use Plato within a commercial project and is backed by updates & guaranteed priority technical support."></i>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-controller="Support" asp-route-action="Index" asp-fragment="enterprise-support">Enterprise Support</a>
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Priority email & telephone technical support for one Plato installation direct from Plato devs. A response is guaranteed within 48 hours."></i>
                            </li>
                        </ol>
                        <h3 class="display-4 text-info">$1,629</h3>
                        <div>
                            one time payment / VAT may apply
                        </div>
                        <a href="https://order.shareit.com/cart/add?vendorid=200279505&PRODUCT[300965433]=1" class="btn  btn-block btn-lg btn-info mt-4">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center text-muted">
                Prices shown are in USD and subject to applicable tax
            </div>
        </div>
    </div>
</section>

<!-- Fully Managed -->
<section class="page bg-primary-15">
    <div class="container my-5 text-center">
        <h3>
            Looking for a hosted solution - See our <a asp-route-action="FullyManaged">fully managed pricing</a>.
        </h3>
    </div>
</section>

<!-- Questions -->
<section class="page">
    <div class="container text-center">
        <h1 class="font-weight-bold text-primary text-uppercase">
            Questions
        </h1>
        <h2 class="font-weight-light my-4">
            Call us on <a href="tel:441565832827" class="font-weight-bold">+44 (0) 1565 832 827</a> to get your questions answered right away
        </h2>
        <a class="btn btn-primary btn-lg" asp-route-area="Plato.Site" asp-route-controller="Company" asp-route-action="Contact" data-provide="loader-spy">
            <i class="fal fa-envelope mr-2"></i>Send us a message
        </a>
    </div>
</section>
