@model LayoutViewModel
@{
    AddTitleSegment(T["Articles"]);
    AddTitleSegment(T["Tags"]);
}

<form asp-action="Index" class="article-tags-index layout-header-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true">    
    <layout model="Model" />
</form>