@model LayoutViewModel
@{
    AddTitleSegment(T["Articles"]);
    AddTitleSegment(T["Labels"]);
}

<form asp-action="Index" class="article-labels-index layout-header-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />        
</form>