@model FileEntitiesViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Related Entities"]</h6>
    </card-title>
    <card-body>
        @T["No related entities"]
    </card-body>
</card>

