@model LayoutViewModel
@{
    AddTitleSegment(T["Issues"]);
    AddTitleSegment(T["Labels"]);
}

<form asp-action="Display" class="issue-labels-display layout-header-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>