<card class="card border-0">
    <card-body>
        <h6 class="text-muted">
            <i class="fal fa-bars mr-2"></i>@T["In this doc"]
        </h6>
        <nav class="anchorific">
            <p class="text-center"><i class="fal fa-spinner fa-spin"></i></p>
        </nav>
    </card-body>
</card>