@model TourStep

<div class="p-3">
    @if (Model.CompletedDate.HasValue)
    {
        <div>
            @T["The general settings have already been updated but you can update them again anytime"]
        </div>
        <br />
        <a asp-route-area="Plato.Settings" asp-controller="Admin" asp-action="Index" class="btn btn-primary">
            @T["Edit General Settings"]
        </a>
    }
    else
    {
        <div>
            @T["Take a moment to review general application settings. Name your site, choose a theme or update the default timezone."]
        </div>
        <br />
        <a asp-route-area="Plato.Settings" asp-controller="Admin" asp-action="Index" class="btn btn-primary">
            @T["Edit General Settings"]
        </a>
    }
</div>