

<h6 class="pt-1 text-muted">
    <i class="fal fa-align-left"></i> @T["In this doc"]
</h6>

<nav class="py-2 anchorific">
    <p class="text-center"><i class="fal fa-spinner fa-spin"></i></p>
</nav>

<h6 class="pt-1 text-muted">
    <i class="fal fa-align-left"></i> @T["Was this helpful?"]
</h6>

<div class="py-2">
    This is just some sample text to test the layout of the asides control. Here we may include real text or controls.
</div>