@model LayoutViewModel
@{
    AddTitleSegment(T["Ideas"]);
    AddTitleSegment(T["Labels"]);
}

<form asp-action="Index"  class="idea-labels-index layout-header-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>