@model LayoutViewModel
@{
    AddTitleSegment(T["Login"]);
}

<form asp-action="Login" class="account-login" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>
