@model LayoutViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Docs"]);
    AddTitleSegment(T["Categories"]);
    AddTitleSegment(T["Add Category"]);
}

<form asp-action="Create" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>