@model LayoutViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Docs"]);
    AddTitleSegment(T["Categories"]);
    AddTitleSegment(T["Edit Category"]);
}

<form asp-action="Edit" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>

