@model ContactFormViewModel
@{
    AddTitleSegment(T["Plato - Support Options"]);
}

<div style="background: url(/plato.site/content/images/bg10.png) top right no-repeat;">
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                        Support
                    </h1>
                    <h2 class="font-weight-light">
                        The Plato support options explained
                    </h2>
                    <a name="free-support"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="w-100 p-4 bg-white box-shadow">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-40 align-middle mr-2" />
                        <h3 class="d-inline-block align-bottom font-weight-bold text-uppercase text-primary">Community</h3>
                        <hr />
                        <p class="font-weight-bold">
                            Included with a self hosted community license
                        </p>
                        <p>
                            We will always do our best to assist but unfortunately whilst we would love to help everyone, we are only a small team and as such cannot guarantee official support for Plato if your using our community edition of Plato.
                            If your using the free community edition the best place to obtain support is through our own installation of Plato. Use the button below to browse our support resources or post your questions.
                            Should you require guaranteed technical support for your self-hosted Plato installation please consider our business or enterprise options detailed below.
                        </p>
                        <p>
                            <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index" class="btn btn-primary">Browse Support</a>
                            <a name="business-support"></a>
                        </p>
                    </div>

                    <div class="mt-4 w-100 p-4 bg-white box-shadow">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-40 align-middle mr-2" />
                        <h3 class="d-inline-block align-middle font-weight-bold text-uppercase text-primary">Business</h3>
                        <hr />
                        <p class="font-weight-bold">
                            Included with a self-hosted business license
                        </p>
                        <p>
                            If you require guaranteed priority technical support for your self-hosted Plato installation our business support package lets you connect directly to lead Plato developers to obtain in-depth priority technical support through email or in real-time through Phone or GotoMeeting.
                        </p>
                        <p>
                            Our business support package includes:-
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Access to pre-packaged, tested, officially supported updates for the first year
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Priority support from Plato developers for a single installation for the first year
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                A guaranteed response via email within 48 hours (usually quicker) for the first year
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Ongoing priority assistance with customizations & upgrades for the first year
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Supporter status within <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">our community</a> guaranteeing a response within 48 hours
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Escalation to real-time remote assistance within 72 hours if needed for the first year
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                No recurring licensing fees - Use the version of Plato you purchased forever
                            </li>
                        </ol>
                        <p>
                            After the first year to continue receiving updates & guaranteed priority ssupport you will need to purchase our <a asp-route-controller="Upgrade" asp-route-action="Index">annual support</a>.
                        </p>
                        <p>
                            <a asp-route-controller="Pricing" asp-route-action="Index" class="btn btn-primary">
                                See Pricing
                            </a>
                            <a name="enterprise-support"></a>
                        </p>
                    </div>

                    <div class="mt-4 w-100 p-4 bg-white box-shadow">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-40 align-middle mr-2" />
                        <h3 class="d-inline-block align-middle font-weight-bold text-uppercase text-primary">Enterprise</h3>
                        <hr />
                        <p class="font-weight-bold">
                            Included with a self-hosted enterprise license
                        </p>
                        <p>
                            Our enterprisee support package is the highest level of support we offer. Enterprise support offers all the benefits of our <a asp-fragment="business-support">business support</a> ensuring you receive guaranteed priority technical support but also includes the following benefits...
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-0">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    Up to 4 hours (usually two 2 hour calls) of personal training from Plato product developers via GotoMeeting, Zoom or Microsoft Teams to assist with on-boarding, employee training or anything else to help you succeed with Plato
                                </div>
                            </li>
                            <li class="d-block p-0">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    Up to 4 hours (usually two 2 hour calls) of in-depth real-time technical assistance via GotoMeeting to assist with installation, configuration, upgrading, optimizations, 3rd party integrations, data migrations, single sign-on or any other technical aspect you need
                                </div>
                            </li>
                            <li class="d-block p-0">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    We will work with you to develop & deliver a unique theme for your Plato installation. We will present up-to 3 unique mock-ups until you are 100% happy our Plato theme perfectly matches your brand or existing web site.
                                </div>
                            </li>
                            <li class="d-block p-0">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    No recurring licensing fees - Use the version of Plato you purchased forever
                                </div>
                            </li>
                        </ol>
                        <p>
                            After the first year to continue receiving updates & guaranteed priority ssupport you will need to purchase our <a asp-route-controller="Upgrade" asp-route-action="Index">annual support</a>.
                        </p>
                        <p>
                            <a asp-route-controller="Pricing" asp-route-action="Index" class="btn btn-primary">
                                See Pricing
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>