@model ContactFormViewModel
@{
    AddTitleSegment(T["Support Options"]);
}

<div style="background: url(/plato.site/content/images/bg10.png) top right no-repeat;">
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                        Support
                    </h1>
                    <h2 class="font-weight-light">
                        Your self-hosted support explained
                    </h2>
                    <a name="community-support"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="mt-4 w-100 p-4 bg-white box-shadow">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-40 align-middle mr-2" />
                        <h3 class="d-inline-block align-middle font-weight-bold text-uppercase text-primary">Business Support</h3>
                        <hr />
                        <p class="font-weight-bold">
                            Included with all self-hosted business plans
                        </p>
                        <p>
                            If you require guaranteed priority technical support for your self-hosted Plato installation our business support package lets you connect directly to lead Plato developers to obtain in-depth priority technical support through email or in real-time over the Phone or Zoom.
                        </p>
                        <p>
                            With an active self hosted business plan you'll receive...
                        </p>
                        <ol class="list-inline">
                            <li class="d-block  my-2">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Access to all the latest minor and major updates
                            </li>
                            <li class="d-block my-2">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Priority email & phone support direct from Plato developers
                            </li>
                            <li class="d-block my-2">
                                <i class="fal fa-check text-primary mr-2"></i>
                                A guaranteed response via email within 48 hours (usually quicker)
                            </li>

                            <li class="d-block my-2">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Escalation to real-time remote assistance within 72 hours if needed
                            </li>
                            <li class="d-block  my-2">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Access to complete C# source code with customization advice & guidance
                            </li>
                            <li class="d-block  my-2">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Access to the Plato GitHub repository so you can open issues or contribute
                            </li>
                            <li class="d-block my-2">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Ongoing priority assistance with customizations & upgrades
                            </li>

                            <li class="d-block my-2">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Supporter status within <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">our community</a> guaranteeing a priority response
                            </li>
                        </ol>
                        <p>
                            <a asp-route-controller="Pricing" asp-route-action="Index" class="btn btn-lg btn-primary">
                                See Pricing<i class="fal fa-arrow-right ml-1"></i>
                            </a>
                            <a name="enterprise-support"></a>
                        </p>
                    </div>

                    <div class="mt-4 w-100 p-4 bg-white box-shadow">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-40 align-middle mr-2" />
                        <h3 class="d-inline-block align-middle font-weight-bold text-uppercase text-primary">Enterprise Support</h3>
                        <hr />
                        <p class="font-weight-bold">
                            Included with all self-hosted enterprise plans
                        </p>
                        <p>
                            Our enterprise support is the highest level of support we offer. Enterprise support offers all the benefits of our <a asp-fragment="business-support">business support</a> ensuring you receive guaranteed priority technical support but also includes the following additional benefits...
                        </p>
                        <ol class="list-inline">
                            <li class="d-block my-2">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    Up to 6 hours (usually three 2 hour calls) of personal training from Plato product developers via GotoMeeting, Zoom or Microsoft Teams to assist with on-boarding, employee training, installation, integrations or anything else to help you succeed with Plato
                                </div>
                            </li>
                            <li class="d-block p-0 my-2">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    We will work with you to develop & deliver a unique theme for your Plato installation. We will present up-to 5 unique mock-ups until you are 100% happy our Plato theme perfectly matches your brand or existing web site. Please allow 10 business days for this process.
                                </div>
                            </li>                          
                        </ol>
                        <p>
                            <a asp-route-controller="Pricing" asp-route-action="Index" class="btn btn-lg btn-primary">
                                See Pricing<i class="fal fa-arrow-right ml-1"></i>
                            </a>
                        </p>
                    </div>

                    <div class="w-100 p-4 bg-white box-shadow">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-40 align-middle mr-2" />
                        <h3 class="d-inline-block align-bottom font-weight-bold text-uppercase text-primary">Here to Help</h3>
                        <hr />
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="font-weight-bold">
                                    Community
                                </p>
                                <p>
                                    We will always assist with any questions posted within the Plato community. Use the button below to jump to the Plato community to post your question or report your issue.
                                </p>
                                <p>
                                    <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index" class="btn btn-lg btn-primary">Goto Community<i class="fal fa-arrow-right ml-1"></i></a>
                                </p>
                            </div>
                            <div class="col-lg-6">

                                <p class="font-weight-bold">
                                    Email & Phone
                                </p>
                                <p>
                                    If you prefer to keep things just between us use the button below to send us a message or contact us via email or phone.
                                </p>
                                <a asp-route-area="Plato.Site" asp-route-controller="Company" asp-route-action="Contact" class="btn btn-lg btn-primary">Contact Us<i class="fal fa-arrow-right ml-1"></i></a>
                            </div>
                        </div>


                        <a name="business-support"></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>