@model LayoutViewModel
@{
    AddTitleSegment(T["Issues"]);
    AddTitleSegment(T["Categories"]);
}

<form asp-action="Index" class="issue-categories-index layout-header-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>