@model EditFileViewModel

@if (Model.File == null)
{
    <h4>@T["Add Files"]</h4>
    <span class="text-muted">@T["Add new files."]</span>
}
else
{
    <h4>@T["Edit File"]</h4>
    <span class="text-muted">@T["Edit an existing file."]</span>
}

<hr />



