@model GetStartedViewModel
@{
    AddTitleSegment(T["Get Started"]);    
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
    Layout = "_GetStartedLayout.cshtml";
}

<form asp-action="Index" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <section class="flex-column flex-lg-row no-gutters d-flex">
        <div class="col-12 align-self-start align-self-lg-center text-center">
            <div class="my-6 mx-auto max-w-800">

                <div>
                    <span class="plato-brand align-middle mr-2"></span>
                    <h2 class="d-inline-block align-middle text-primary">Plato</h2>
                </div>

                <div class="my-4">

                    <h1 class="display-4 text-primary font-weight-bold">
                        First, enter your email
                    </h1>

                    <h3 class="font-weight-light my-4">
                        One more email - a quick confirmation - then say hello to your very own product support site
                    </h3>
                    <div class="mt-4">

                        <div class="mt-2 w-100 max-w-500 d-inline-block">

                            <fieldset>
                                <div class="form-group text-left">                                    
                                    <input asp-for="Email" class="form-control form-control-lg" placeholder="@T["name@work-email.com"]" autofocus />
                                    <div class="mt-2" asp-validation-summary="All"></div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="EmailUpdates">
                                        <span class="switch switch-round mr-2">
                                            <input data-toggle="collapse" class="form-check-input" asp-for="EmailUpdates" />
                                            <span class="switch-slider"></span>
                                        </span>
                                        @T["It's OK to send me emails about Plato"] <i class="fal fa-info-circle" data-toggle="tooltip" title="@T["Only enable if you are logging in from a secure device only you have acces to"]"></i>
                                    </label>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">@T["Confirm"]</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</form>

@section Scripts {
    <script src="/plato.site/content/js/get-started/get-started.min.js"></script>
}
