@model SetUpConfirmationViewModel
@{
    AddTitleSegment(T["Set Up"]);    
    Layout = "_GetStartedLayout.cshtml";
}

<form asp-action="SetUp" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <section class="flex-column flex-lg-row no-gutters d-flex">
        <div class="col-12 align-self-start align-self-lg-center text-center">
            <div class="my-6 mx-auto max-w-800">

                <input type="hidden" asp-for="SessionId" />

                <div>
                    <span class="plato-brand align-middle mr-2"></span><h2 class="d-inline-block align-middle text-primary">Plato</h2>
                </div>

                <div class="my-4">

                    <h1 class="display-4 text-primary font-weight-bold">
                        Your all set
                    </h1>

                    <h3 class="font-weight-light my-4">
                        Your support site is ready - make a note of the address shown below - you can use this anytime to access your support site.

                    </h3>
                    <h3>
                        @Model.Url
                    </h3>
                    <div class="mt-4">

                        <div class="mt-2 w-100 max-w-500 d-inline-block">
                            <div class="form-group">
                                <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">@T["Get Started"]</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</form>

@section Scripts {
    <script src="/plato.site/content/js/signup/signup.min.js"></script>
}
