@model LayoutViewModel
@{
    AddTitleSegment(T["Discuss"]);
    AddTitleSegment(T["New Topic"]);
}

<form asp-action="Create" class="discuss-create" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>