@model LayoutViewModel
@{
    AddTitleSegment(T["Discuss"]);
}

<form asp-route-action="Display" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>