@model LayoutViewModel
@{
    AddTitleSegment(T["Discuss"]);
    AddTitleSegment(T["Edit Reply"]);
}

<form asp-action="EditReply" class="discuss-edit-reply" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>    