@model LayoutViewModel
@{
    AddTitleSegment(T["Discuss"]);
}

<form asp-action="Index" class="discuss-index layout-header-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>