

<div class="row mt-5">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-lg-4 mb-4">
                <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Discuss" class="d-block p-5 text-center bg-white border box">
                    <div class="livicon-evo d-inline-block" data-options="
                            name:comments;
                            style: lines;
                            size: 64px;
                            strokeWidth: 2px;
                            strokeColor: #007bff;
                            eventOn: parent;">
                    </div>
                    <strong class="d-block text-primary text-uppercase h4 my-3">Discuss</strong>
                    <span class="d-block">
                        Civilized, spam free forums
                    </span>
                    <span class="d-block mt-4">
                        <span class=" btn btn-primary">
                            Learn More
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Docs" class="d-block p-5 text-center bg-white border box">
                    <div class="livicon-evo d-inline-block" data-options="
                            name: notebook;
                            style: lines;
                            size: 64px;
                            strokeWidth: 2px;
                            strokeColor: #007bff;
                            eventOn: parent;">
                    </div>
                    <strong class="d-block text-primary text-uppercase h4 my-3">Docs</strong>
                    <span class="d-block">
                        Beautiful documentation
                    </span>
                    <span class="d-block mt-4">
                        <span class=" btn btn-primary">
                            Learn More
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Articles" class="d-block p-5 text-center bg-white border box">
                    <div class="livicon-evo d-inline-block" data-options="
                            name: help;
                            style: lines;
                            size: 64px;
                            strokeWidth: 2px;
                            strokeColor: #007bff;
                            eventOn: parent;">
                    </div>
                    <strong class="d-block text-primary text-uppercase h4 my-3">Articles</strong>
                    <span class="d-block">
                        Self service support
                    </span>
                    <span class="d-block mt-4">
                        <span class=" btn btn-primary">
                            Learn More
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-4">
                <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Questions" class="d-block p-5 text-center bg-white border box">
                    <div class="livicon-evo d-inline-block" data-options="
                            name: question-alt;
                            style: lines;
                            size: 64px;
                            strokeWidth: 2px;
                            strokeColor: #007bff;
                            eventOn: parent;">
                    </div>
                    <strong class="d-block text-primary text-uppercase h4 my-3">Questions</strong>
                    <span class="d-block mb-0">
                        Q&A for users & teams
                    </span>
                    <span class="d-block mt-4">
                        <span class=" btn btn-primary">
                            Learn More
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Ideas" class="d-block p-5 text-center bg-white border box">
                    <div class="livicon-evo d-inline-block" data-options="
                            name:bulb;
                            style: lines;
                            size: 64px;
                            strokeWidth: 2px;
                            strokeColor: #007bff;
                            eventOn: parent;">
                    </div>
                    <strong class="d-block text-primary text-uppercase h4 my-3">Ideas</strong>
                    <span class="d-block">
                        Community driven ideation
                    </span>
                    <span class="d-block mt-4">
                        <span class=" btn btn-primary">
                            Learn More
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Issues" class="d-block p-5 text-center bg-white border box">
                    <div class="livicon-evo d-inline-block" data-options="
                            name: bug;
                            style: lines;
                            size: 64px;
                            strokeWidth: 2px;
                            strokeColor: #007bff;
                            eventOn: parent;">
                    </div>
                    <strong class="d-block text-primary text-uppercase h4 my-3">Issues</strong>
                    <span class="d-block mb-0">
                        Community driven issues
                    </span>
                    <span class="d-block mt-4">
                        <span class=" btn btn-primary">
                            Learn More
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="p-5 bg-white border">
            <div class="livicon-evo d-inline-block" data-options="
                name: plus;
                repeat: loop;
                style: lines;
                size: 120px;
                strokeWidth: 2px;
                strokeColor: #007bff;
                eventOn: parent;">
            </div>
            <h1 class="text-uppercase text-primary font-weight-bold">
                Hundreds of Modules
            </h1>
            <hr class="divider my-4">
            <h3 class="font-weight-light">
                Custom-fit Plato with hundreds of official modules. Add theming, file sharing, notifications, reporting, social integrations & much more with a single click via the dashboard.
            </h3>
            <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Modules" data-provide="loader-spy">
                All Official Modules
            </a>
        </div>
    </div>
</div>
