@model LayoutViewModel
@{
    AddTitleSegment(T["Search"]);
}

<form asp-action="Index" class="search-index" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>