@model LayoutViewModel
@{
    AddTitleSegment(T["Articles"]);
    AddTitleSegment(T["New Article"]);
}

<form asp-action="Create" class="article-create" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>