@model LayoutViewModel
@{
    AddTitleSegment(T["Articles"]);
    AddTitleSegment(T["Edit Comment"]);
}

<form asp-controller="Home" asp-action="EditReply" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>