
.dropzone {
    border: 3px dashed rgba(80, 75, 100, 0.1);
    border-radius: 3px;
    background: rgba(150, 150, 150, 0.03);
}

.dropzone.dz-clickable {}
.dropzone.dz-clickable * {}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}

.dropzone.dz-started .dz-message {
    display: none;
}

.dropzone.dz-drag-hover {}
.dropzone.dz-drag-hover .dz-message {}

.dropzone .dz-message {
    padding: 14px;
}
