@model LayoutViewModel
@{
    AddTitleSegment(T["Questions"]);
    AddTitleSegment(T["Labels"]);
}

<form asp-action="Display" class="question-labels-dislpay" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>