@{
    AddTitleSegment(T["Better together"]);
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
}

<!-- Jumbotron -->
<section class="flex-column flex-lg-row no-gutters d-flex overflow-hidden">
    <div class="col-12 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <canvas data-provide="logo" class="w-100"></canvas>
            <h1 class="display-4 text-primary text-uppercase font-weight-bold">
                Better together
            </h1>
            <hr class="divider border-primary my-4" />
            <h3 class="font-weight-light">
                Plato brings your teams & users together to evolve & support your software projects.
            </h3>
            <div class="mt-4">
                <a class="btn btn-primary btn-lg mr-2" asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Index" data-provide="loader-spy">
                    Learn More
                </a>
                <div class="btn-group github-button" role="group" aria-label="GitHub button">
                    <a class="btn btn-secondary btn-lg" href="https://github.com/InstantASP/plato" target="_blank" title="Plato on GitHub" data-provide="loader-spy">
                        <i class="fab fa-github"></i> Star
                    </a>
                    <a class="btn btn-secondary btn-lg star-count" href="https://github.com/InstantASP/plato/stargazers" target="_blank" title="Stars" data-provide="loader-spy">
                        ---
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="/plato.site/content/images/dashboard.png" class="img-md-fluid mt-0 mt-lg-5 mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>

<!--  Meet Plato -->
<section class="page bg-light">
    <div class="container text-center">

        <div class="row">
            <div class="col-12">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase text-primary font-weight-bold">
                    Collaboration & support software
                </h1>
                <hr class="divider my-4">
                <h3 class="font-weight-light">
                    Plato offers a fully integrated suite of tools to help you build & support amazing software
                </h3>
            </div>
        </div>
        <cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
            @await DisplayAsync(new View("SiteKeyFeatures", new
            {
                sticky = false
            }))
        </cache>
    </div>
</section>

<!-- Built Upon -->
<section class="page bg-purple">
    <div class="container">
        <div class="text-center">
            <h1 class="text-uppercase text-white font-weight-bold">
                Built With
            </h1>
            <hr class="divider border-light my-4" />
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <img alt=".NET Core Logo" src="~/plato.site/content/images/netcore.png" class="img-fluid max-w-150" />
                </div>
                <div class="col-lg-4 mt-4">
                    <img alt="Visual Studio Logo" src="~/plato.site/content/images/vs.png" class="img-fluid max-w-150" />
                </div>
                <div class="col-lg-4 mt-4">
                    <img alt="Visual Studio Logo" src="~/plato.site/content/images/bootstrap.png" class="img-fluid max-w-150" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Get the Code -->
<section class="page">
    <div class="container">
        <div class="py-5">
            <div class="row">
                <div class="col-12 text-center text-lg-left ">
                    <img alt="GitHub Octocat Logo" src="plato.site/content/images/octocat.png" class="img-md-fluid float-none float-lg-right mx-md-auto max-w-300 d-inline-block ml-lg-3 mb-4 mb-lg-0" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        For Community
                    </h1>
                    <hr class="divider divider-left primary my-4" />
                    <h3 class="font-weight-light">
                        Our community edition of Plato is 100% free and open source licensed under a GNU General Public License. Download or contribute to improve the project on GitHub.
                    </h3>
                    <a class="btn btn-primary btn-lg mt-4" target="_blank" href="https://github.com/InstantASP/plato" data-provide="loader-spy">
                        <i class="fab fa-github"></i>
                        Plato on GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Managed Hosting -->
<section class="page">
    <div class="container">
        <div class="py-5">
            <div class="row">
                <div class="col-12 text-center text-lg-left ">
                    <img alt="Plato Logo" src="plato.site/content/images/logo.png" class="img-md-fluid float-none float-lg-right mx-md-auto max-w-300 d-inline-block ml-lg-3 mb-4 mb-lg-0" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        For Business
                    </h1>
                    <hr class="divider divider-left primary my-4" />
                    <h3 class="font-weight-light">
                        Our commercial license is ideal for organizations who wish to use Plato within a commercial context and require the latest updates & guaranteed technical support.
                    </h3>
                    <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller=Pricing asp-route-action="Index" data-provide="loader-spy">
                        <i class="fal fa-shopping-cart"></i> See Pricing
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Explore The Demo -->
<cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteExploreDemo", new
    {
        sticky = false
    }))
</cache>

<!-- Customers -->
<section class="page bg-light">
    <div class="container text-center">
        <h1 class="text-uppercase text-primary font-weight-bold">
            Some of our customers
        </h1>
        <hr class="divider primary my-4" />
        <div class="d-flex flex-column flex-lg-row justify-content-center  align-items-center">
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box1" data-num="1" class="customer-box">
                    <img src="/plato.site/content/images/customers/1.png" alt=" " />
                </div>
            </div>
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box2" data-num="2" class="customer-box">
                    <img src="/plato.site/content/images/customers/2.png" alt=" " />
                </div>
            </div>
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box3" data-num="3" class="customer-box">
                    <img src="/plato.site/content/images/customers/3.png" alt=" " />
                </div>
            </div>
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box4" data-num="4" class="customer-box">
                    <img src="/plato.site/content/images/customers/4.png" alt=" " />
                </div>
            </div>
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box5" data-num="5" class="customer-box">
                    <img src="/plato.site/content/images/customers/5.png" alt=" " />
                </div>
            </div>
        </div>
        <div class="flex-column flex-lg-row d-flex justify-content-center align-items-center">
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box6" data-num="6" class="customer-box">
                    <img src="/plato.site/content/images/customers/6.png" alt=" " />
                </div>
            </div>
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box7" data-num="7" class="customer-box">
                    <img src="/plato.site/content/images/customers/7.png" alt=" " />
                </div>
            </div>
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box8" data-num="8" class="customer-box">
                    <img src="/plato.site/content/images/customers/8.png" alt=" " />
                </div>
            </div>
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box9" data-num="9" class="customer-box">
                    <img src="/plato.site/content/images/customers/9.png" alt=" " />
                </div>
            </div>
            <div class="d-flex mx-4 mt-4">
                <div id="flip-box10" data-num="10" class="customer-box">
                    <img src="/plato.site/content/images/customers/10.png" alt=" " />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to action -->
<cache vary-by-user="true" expires-after="@TimeSpan.FromMinutes(30)">
    @await DisplayAsync(new View("SiteCallToAction", new
    {
        sticky = false
    }))
</cache>

@section Scripts {
    <script src="/plato.site/content/js/home/babylon403.min.js"></script>
    <script src="/plato.site/content/js/home/earcut211.min.js"></script>
    <script src="/plato.site/content/js/home/logo-canvas.min.js"></script>
}
