@model LayoutViewModel
@{
    AddTitleSegment(T["Docs"]);
    AddTitleSegment(T["Labels"]);
}

<form asp-action="Index" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>