@model EditTenantViewModel

@if (!Model.IsNewTenant && !Model.IsDefault)
{
    <button type="submit" asp-controller="Admin" asp-action="Delete" asp-route-id="@Model.SiteName.ToString()" data-provide="confirm" class="btn btn-danger btn-sm" itemprop="UnsafeUrl">
        <i class="fal fa-trash mr-2"></i>@T["Delete Tenant"]
    </button>
}

