<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title asp-separator=" - "></title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <assets section="Header" />
    <canonical href="@ViewData["ReturnUrl"]" />
    <link rel="manifest" href="/manifest.json" crossOrigin="use-credentials" />
    <link rel="icon" href="/favicon.ico" />
    <scripts section="Header" />
</head>
<body>
    <assets section="Body" />
    <scripts section="Body" /> 
    @RenderBody()
    <assets section="Footer" />
    <scripts section="Footer" />
</body>
</html>
