@model EditEntityAttachmentsViewModel

<div class="card" data-provide="attachment-dropdown">
    <div class="dropdown list-group-flush">
        <a class="list-group-item list-group-item-action dropdown-toggle dropdown-toggle-no-caret font-weight-bold" href="#" id="attachmentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="fal fa-cog float-right"></i>
            @T["Attachments"]
        </a>
        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in p-0 min-w-500" aria-labelledby="attachmentDropdown">        
            @await DisplayAsync(new View("GetEntityAttachments", new EntityAttachmentsIndexViewModel()))   
        </div>
    </div>
    <div class="card-body">
        @T["No attachments"]
    </div>
</div>