
<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-primary font-weight-bold mt-4">
                    Shared Features
                </h1>
                <h2 class="font-weight-light  my-4">
                    Just one of <a asp-route-action="Modules">over 180+ modules</a> included within Plato
                </h2>
                <hr class="divider my-4" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: lock;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Flexible Security
                            </strong>
                            <span class="d-block mb-0">
                                Control who can access content with incredibly flexible permissions & user roles.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: search;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Powerful Search
                            </strong>
                            <span class="d-block mb-0">
                                Instantly search across all your topics, articles, docs, questions, issues, ideas & files.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: tablet;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Mobile Friendly
                            </strong>
                            <span class="d-block mb-0">
                                Fully responsive & touch optimized to work great on desktop, mobile or tablet devices.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: globe;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                SEO Ready
                            </strong>
                            <span class="d-block mb-0">
                                Highly optimized for Google to help you and your users find the right answer fast.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <div class="livicon-evo d-inline-block" data-options="
                                    name: grid;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Themes
                            </strong>
                            <span class="d-block mb-0">
                                Customize the look & feel via the built-in theme editor all using Bootstrap 4.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">

                            <div class="livicon-evo d-inline-block" data-options="
                                    name: line-chart;
                                    repeat: loop;
                                    style: linesAlt;
                                    size: 90px;
                                    strokeWidth: 2px;
                                    strokeColor: #007bff;
                                    strokeColorAlt: #2A9FD6;
                                    eventType: none;">
                            </div>
                            <strong class="d-block h4 mb-2">
                                Reporting
                            </strong>
                            <span class="d-block mb-0">
                                Gain insights & see how users are engaging with and using your support content.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
