@model LayoutViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Tenants"]);
    AddTitleSegment(T["Edit Tenant"]);
}

<form asp-action="Edit" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>

