@model LayoutViewModel
@{
    AddTitleSegment(T["Docs"]);
    AddTitleSegment(T["Categories"]);
}

<form asp-action="Display" class="doc-categories-display" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>