@model LayoutViewModel
@{
    AddTitleSegment(T["Ideas"]);
    AddTitleSegment(T["Edit Idea"]);
}

<form asp-action="Edit" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>