@model LayoutViewModel
@{
    AddTitleSegment(T["Ideas"]);
    AddTitleSegment(T["Edit Comment"]);
}

<form asp-action="EditReply" class="idea-edit-reply" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>