@model EntityIndexOptions

<form asp-route-area="Plato.Search" asp-route-controller="Home" asp-route-action="Index" method="get">
    @await DisplayAsync(new View("Search", new
    {
        options = Model
    }))
</form>
