@model LayoutViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Questions"]);
    AddTitleSegment(T["Categories"]);
}

<form asp-action="Index" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>