@{ 
    var platoSiteOptions = GetOptions<PlatoSiteOptions>();
}

<div class="row no-gutters border-top border-light bg-light">
    <div class="container">
        <div class="my-md-5">
            <div class="row">
                <div class="col-12 col-md">
                    <h5 class="text-uppercase text-muted font-weight-bold">Products</h5>               
                    <ul class="list-inline mt-4">
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Discuss" class="text-muted" data-provide="loader-spy">
                                Community
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Docs" class="text-muted" data-provide="loader-spy">
                                Documentation
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Articles" class="text-muted" data-provide="loader-spy">
                                Knowledgebase
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Questions" class="text-muted" data-provide="loader-spy">
                                Q&A
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Ideas" class="text-muted" data-provide="loader-spy">
                                Customer Feedback
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Issues" class="text-muted" data-provide="loader-spy">
                                Issue Tracking
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-uppercase text-muted font-weight-bold">Platform</h5>
                    <ul class="list-inline mt-4">
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                About Plato
                            </a>
                        </li>
                        <li class="d-block mb-2">

                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Modules" class="text-muted" data-provide="loader-spy">
                                180+ Modules
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Plato" asp-route-action="Desktop" class="text-muted" data-provide="loader-spy">
                                Desktop App
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a href="@platoSiteOptions.DemoUrl" target="_blank" class="text-muted" data-provide="loader-spy">
                                Live Demo
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a href="https://github.com/InstantASP/plato" target="_blank" class="text-muted" data-provide="loader-spy">
                                Plato on GitHub
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Docs.Categories" asp-route-controller="Home" asp-route-action="Index" asp-route-opts.categoryId="3" asp-route-opts.alias="whats-new" class="text-muted" data-provide="loader-spy">
                                What's New
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-uppercase text-muted font-weight-bold">Pricing</h5>
                    <ul class="list-inline mt-4">
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Pricing" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                Self Hosted
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Pricing" asp-route-action="FullyManaged" class="text-muted" data-provide="loader-spy">
                                Fully Managed
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Support" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                Paid Support
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Upgrade" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                Paid Upgrades
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-uppercase text-muted font-weight-bold">Resources</h5>
                    <ul class="list-inline mt-4">
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                Community
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                Documentation
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Articles" asp-route-controller="Home" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                Knowledge Base
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Questions" asp-route-controller="Home" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                Ask a Question
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Ideas" asp-route-controller="Home" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                Suggest an Idea
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Issues" asp-route-controller="Home" asp-route-action="Index" class="text-muted" data-provide="loader-spy">
                                Report an Issue
                            </a>
                        </li>
                      
                    </ul>
                </div>
            </div>
         
            <div class="row my-4">
                <div class="col-12 col-lg-6">
                    <p class="d-block text-muted">
                        <a class="mr-2" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Index" data-provide="loader-spy">
                            <img src="/plato.site/content/images/instantasp-logo.png" class="img-32" alt="InstantASP" title="InstantASP" />
                        </a>
                        Copyright &copy; @DateTime.Now.Year All Rights Reserved.
                    </p>
                </div>

                <div class="col-12 col-lg-6">
                    <ul class="list-inline float-lg-right">
                    
                        <li class="list-inline-item">
                            <a asp-route-area="Plato.Site" asp-route-controller="Legal" asp-route-action="Terms" class="text-muted" data-provide="loader-spy">
                                Terms of Use
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-route-area="Plato.Site" asp-route-controller="Legal" asp-route-action="Privacy" class="text-muted" data-provide="loader-spy">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-route-area="Plato.Site" asp-route-controller="Company" asp-route-action="Contact" class="text-muted" data-provide="loader-spy">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
