
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    display: inline-block;
}

a.anchor {
    text-decoration: none;
    padding-left: 1%;
    display:none;  
}

.anchorific {
    position: fixed;    
    top: 0;
    right:0;
    z-index:9999;
    background:white;
    width: 300px;
    border-left: 1px solid #ddd;
    height: 100%;
}

.anchorific ul {
    list-style-type: none;
}

.anchorific li ul {
    list-style-type: none;
    display: none;
}

.anchorific ul li a {
    display: block; 
    text-decoration: none;
    padding: 5px;
}

.anchorific li ul {
    display: none;
}

.anchorific li.active > a {
    /* border-right: #e54339 1px solid; */
    background-color: #fff;
}

.anchorific li.active > ul {
    display: block;
}
