
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    display: inline-block;
}

a.anchor {
    text-decoration: none;
    padding-left: 1%;
    display:none;  
}

.anchorific {
   margin: 0;
   padding:0;
}

.anchorific h1:first-child,
.anchorific h1:first-child,
.anchorific h1:first-child,
.anchorific h1:first-child,
.anchorific h1:first-child,
.anchorific h1:first-child {
    margin-top: 0;
}

.anchorific ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
}

.anchorific li ul {
    list-style-type: none;
    display: block;
    padding:0 0 0 0.5rem;
}

.anchorific ul li a {
    display: block; 
    text-decoration: none;
 
}

.anchorific li ul {
    display: block;
}
