@model LayoutViewModel
@{
    AddTitleSegment(T["Articles"]);
    AddTitleSegment(T["Edit Comment"]);
}

<form asp-action="EditReply" class="issue-edit-reply" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>