@model LayoutViewModel
@{
    AddTitleSegment(T["Articles"]);
}

<form asp-action="Index" class="issue-index" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>