@model LayoutViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Discuss"]);
    AddTitleSegment(T["Moderators"]);
    AddTitleSegment(T["Add Moderator"]);
}

<form asp-action="Create" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>
