@model LayoutViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Questions"]);
    AddTitleSegment(T["Labels"]);
    AddTitleSegment(T["Add Label"]);
}

<form asp-action="Edit" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>

