@model LayoutViewModel
@{
    AddTitleSegment(T["Questions"]);
}

<form asp-action="Display" class="question-display" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>