@model LayoutViewModel
@{
    AddTitleSegment(T["Questions"]);
}

<form asp-action="Index"  class="question-index layout-header-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true">
    <layout model="Model" />
</form>