@model LayoutViewModel
@{
    AddTitleSegment(T["Discuss"]);
    AddTitleSegment(T["Tags"]);
}

<form asp-action="Index" class="discuss-tags-index layout-header-sticky" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>