@model EntityAttachmentsIndexViewModel
@{
    Layout = null;
}

<div class="list-group list-group-flush list-group-hover">

    <div class="list-group-item list-group-item-action">
        <a href="#" class="btn float-right text-muted" data-toggle="tooltip" title="@T["Delete Attachment"]">
            <i class="fal fa-times"></i>
        </a>
        <span class="btn float-right text-muted" data-toggle="tooltip" title="@T["123.3kb, 24 views"]">
            <i class="fal fa-info-circle"></i>
        </span>
        <span class="fiv-sqo fiv-icon-zip align-middle mr-1"></span>
        <a href="#" class="align-middle">
            AnExampleOfAReallyLongFileName.zip
        </a>
    </div>

   
</div>

