@model TourIndexViewModel
@{
    var percentComplete = Model.CompletedSteps.ToPercentageOf(Model.TotalSteps);
    var stepName = string.Empty;
    foreach (var step in Model.Steps)
    {
        if (!step.CompletedDate.HasValue)
        {
            stepName = step.Title;
            break;
        }
    }
}

<a asp-route-area="Plato.Admin" asp-route-controller="Admin" asp-route-action="Index" class="mb-3 d-block text-white text-decoration-none" data-toggle="tooltip" title="@T["Set up is"] @percentComplete% @T["complete"]">
    <div>
        <i class="fal fa-arrow-right float-right text-muted"></i>
        @stepName
    </div>    
    <div class="progress bg-white-25 mt-3 bg-white-25" style="height: 8px;">
        <div class="progress-bar" role="progressbar" style="width: @percentComplete%" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</a>
