@model PlatoCore.Layout.LayoutViewModel
@{
    ViewData["Title"] = "User Profile";
}

<form asp-action="Display" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>


