@model EditEntityReplyViewModel

<div class="list-left reply-left">
    @if (this.CurrentUser != null)
    {
        <avatar data-toggle="tooltip" title="@this.CurrentUser.DisplayName" class="avatar" avatar="@this.CurrentUser.Avatar" />
    }
    else
    {
        <avatar data-toggle="tooltip" title="@T["Anonymous"]" class="avatar" />
    }
</div>
<div class="list-body reply-body">

        <card>
            <card-body>

                <input type="hidden" asp-for="EntityId" />

                @await DisplayAsync(new View("Editor", new
                {
                    value = string.Empty,
                    placeHolderText = T["How can we improve this doc?"],
                    htmlName = @Model.EditorHtmlName,
                    autoFocus = false
                }))

            </card-body>
        </card>
    

</div>

