@model AttachmentSettingsViewModel
@{ 
    var platoOpts = GetOptions<PlatoOptions>();
}

<div asp-validation-summary="All"></div>

<card>
    <card-title>
        <h6 class="card-title">@T["Attachments"]</h6>
    </card-title>
    <card-body>

     
    </card-body>
</card>

<card class="card mt-4">
    <card-footer>

        @if (platoOpts.DemoMode)
        {
            <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
                <a href="#" class="btn btn-primary disabled">
                    @T["Save"]
                </a>
            </span>
        }
        else
        {
            <button class="btn btn-primary" type="submit">@T["Save"]</button>          
        }

    </card-footer>
</card>

