@model EditAttachmentSettingsViewModel
@{
    var text = T["Manage attachment settings for users within the \"{0}\" role."];
    var desc = text.Value.ToString().Replace("{0}", Model.Role.Name);
}

<h4>
    @T["Edit Settings"]
</h4>
<span class="text-muted">@desc</span>
<hr />
