

.list-group-item-dropzone > .dropzone {
    border: 3px dashed rgba(80, 75, 100, 0.1);
    border-radius: 3px;
    background: rgba(150, 150, 150, 0.05);
}

.attachments-card .card-body .float-right {
    display: none;
}