@model ContactFormViewModel
@{
    AddTitleSegment(T["Download"]);
}

<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="d-inline-block max-w-700">
                    <img src="~/plato.site/content/images/download.png" class="img-fluid mb-4" />
                    <div class="mt-4">
                        <h1 class="text-uppercase text-primary font-weight-bold">
                            Client Apps
                        </h1>
                        <hr class="divider border-primary">
                        <h2 class="font-weight-light">
                            Simple native apps to access your Plato site
                        </h2>
                        <p class="mt-4">
                            Pin Plato to your taskbar or desktop & offer a simple native experience to ease accessing your Plato site. Great for those authoring content within Plato. All apps require an active internet connection.
                        </p>
                        <p class="download-content">
                            <a class="badge windows" href="https://www.microsoft.com/en-us/">
                                <img src="~/plato.site/content/images/download/windowsstore_badge_en.svg" />
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Get the Code -->
<section class="page">
    <div class="container">
        <div class="py-5">
            <div class="row">
                <div class="col-12 text-center text-lg-left ">
                    <img alt="GitHub Octocat Logo" src="plato.site/content/images/octocat.png" class="img-md-fluid float-none float-lg-right mx-md-auto max-w-300 d-inline-block ml-lg-3 mb-4 mb-lg-0" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        Get The Code
                    </h1>
                    <hr class="divider divider-left primary my-4" />
                    <h3 class="font-weight-light">
                        Our client apps are free and open source. You can customtize the code or contribute to improve the project on GitHub.
                    </h3>
                    <a class="btn btn-primary btn-lg mt-4" target="_blank" href="https://github.com/InstantASP/" data-provide="loader-spy">
                        <i class="fab fa-github"></i>
                        Visit Plato on GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>