@model LayoutViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Files"]);
    AddTitleSegment(T["Settings"]);
    AddTitleSegment(T["Edit"]);
}

<form asp-action="EditSettings" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>