@model LayoutViewModel
@{
    AddTitleSegment(T["Admin"]);
    AddTitleSegment(T["Features"]);
    AddTitleSegment(T["Updates"]);
}

<form asp-action="Index" method="post" enctype="multipart/form-data" data-disable-submit="true" role="form">
    <layout model="Model" />
</form>