@model EditProfileViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Avatar"]</h6>
    </card-title>
    <card-body>
        <div class="profile-avatar">
            <div data-toggle="tooltip" title="@T["Upload a new avatar"]" class="avatar-edit">
                <input type="file" id="imageUpload"
                        asp-for="AvatarFile"
                        data-upload="avatar"
                        data-upload-preview-selector="#avatarPreview"
                        data-upload-accept=".png, .jpg, .jpeg" />
                <label for="imageUpload">
                    <i class="fa fa-upload"></i>
                </label>
            </div>
            <div class="avatar-preview">
                <avatar id="avatarPreview" class="avatar" avatar="@Model.Avatar" />
            </div>
        </div>
        <p class="text-center mt-4">
            @T["You're a lot more recognizable with an avatar."]
        </p>
    </card-body>
</card>


