@model User

<div class="list-left">
        <avatar class="avatar" avatar="@Model.Avatar" />
</div>
<div class="list-body">
    <h4>@T["Your Account"]</h4>
    <span class="text-muted">@T["Manage your account details."]</span>
</div>
<hr />

